{% extends "checkout/baseCheckout.html" %}
{% block child_title %}Billing{% endblock %}

{% block base_head %}
    {{ super() }}
{% endblock %}

{% block title %}Now, Billing.{% endblock %}

{% block card_title %}
    Shipping Information
{% endblock %}

{% block card_content %}

    <div class="custom-control custom-radio d-inline-block w-100">
        <input type="radio" class="custom-control-input d-inline-block"
               id="choosePaymentMethodToggle"
               name="paymentToggleGroup" checked>
        <label class="custom-control-label mb-2" for="choosePaymentMethodToggle"
               id="choosePaymentMethodToggleLabel">Choose a Payment
            Method</label>
        <a data-toggle="collapse" class="float-right" data-target="#paymentMethodEntry"
           href=""
           id="paymentMethodToggler">View</a>
    </div>

    {% if billing_payload|length != 0 %}
        <label for="paymentMethodSelect" class="d-none"></label>
        <select class="custom-select d-block w-100 mb-3 checkout-select"
                id="paymentMethodSelect">
            {% for id,payload in billing_payload.items() %}
                <option
                        nile-card-fname="{{ payload['card_fname'] }}"
                        nile-card-lname="{{ payload['card_lname'] }}"
                        nile-card-expiry="{{ payload['card_expiry'] }}"
                        nile-billing-street1="{{ payload['street1'] }}"
                        nile-billing-street2="{{ payload['street2'] }}"
                        nile-billing-zip="{{ payload['zip'] }}"
                        nile-billing-city="{{ payload['city'] }}"
                        nile-billing-state="{{ payload['state'] }}"
                        nile-billing-country="{{ payload['country'] }}"
                        nile-pm-ident="{{ id }}">
                    {{ payload['card_lname'] }}
                    - {{ payload['card_type'] }} {{ payload['card_number'] }}
                </option>
            {% endfor %}
        </select>
    {% endif %}
    <div class="pm-radio-holder">
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input"
                   id="enterPaymentMethodToggle"
                   name="paymentToggleGroup">
            <label class="custom-control-label mb-2" for="enterPaymentMethodToggle">New
                Payment
                Method</label>
        </div>
    </div>
    <div id="paymentMethodEntry" class="collapse checkout-readonly">
        <div class="row">
            <div class="col-xxl-6">
                <small>
                    <span class="text-muted font-italic ml-2 mb-1">Card Information</span>
                </small>
                <small class="float-right">
                    <a href="{{ url_for('user_bp.payment_methods') }}" class="font-italic mr-1">Edit
                        Information</a>
                </small>
                <div class="card-specific">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="checkoutCardHolderFirstName"
                                       required
                                       name="cardHolderFirstName"
                                       style="text-transform: uppercase;"
                                       maxlength="45"
                                       data-error="First Name must me more than one character">
                                <label for="checkoutCardHolderFirstName">First Name on
                                    Card</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="checkoutCardHolderLastName"
                                       required
                                       name="cardHolderLastName"
                                       style="text-transform: uppercase;"
                                       maxlength="45"
                                       data-error="Last Name must me more than two characters">
                                <label for="checkoutCardHolderLastName">Last Name on
                                    Card</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="checkoutCCEXP">Credit Card Expiration Date</label>
                                <input type="month" class="form-control" id="checkoutCCEXP"
                                       required
                                       name="ccexp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <small>
                    <span class="text-muted font-italic ml-2 mb-1">Billing Information</span>
                </small>

                <div class="billing-address">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="checkoutBillingStreetAddress"
                                       required
                                       name="billingStreetAddress"
                                       maxlength="45"
                                       data-error="Street Address cannot be empty">
                                <label for="checkoutBillingStreetAddress">Street Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="checkoutBillingApartmentOrSuite" aria-invalid="false"
                                       maxlength="45"
                                       name="billingApartmentOrSuite"
                                       data-success="This field is optional">
                                <label for="checkoutBillingApartmentOrSuite">Apartment or Suite
                                    (Optional)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="checkoutBillingAddressZip"
                                       maxlength="10"
                                       name="billingAddressZip">
                                <label for="checkoutBillingAddressZip">ZIP or Postal
                                    code</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="checkoutBillingAddressCity"
                                       required
                                       maxlength="45"
                                       name="billingAddressCity">
                                <label for="checkoutBillingAddressCity">City</label>
                            </div>
                        </div>
                        <div class="form-group col-md-2" style="margin-top: 8px">
                            <label for="checkoutBillingAddressState"
                                   class="d-none">State</label>
                            <select id="checkoutBillingAddressState"
                                    class="form-control" required
                                    name="billingAddressState">
                                <option value="" disabled selected>--</option>
                                <option value="GA">GA</option>
                                <option value="CA">CA</option>
                            </select>

                        </div>
                        <div class="form-group col-md-5" style="margin-top: 8px">
                            <label for="checkoutBillingAddressCountry"
                                   class="d-none">Country</label>
                            <select id="checkoutBillingAddressCountry"
                                    class="form-control"
                                    required
                                    name="billingAddressCountry">
                                <option value="" disabled selected>--</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newPaymentMethodEntry" class="collapse">
        <div class="custom-control custom-checkbox my-2">
            <input type="checkbox" class="custom-control-input remember-me"
                   id="rememberPM"
                   value="0">
            <label class="custom-control-label" for="rememberPM">Remember this next
                time</label>
        </div>

        <div class="row">
            <div class="col-xxl-6">
                <small>
                    <span class="text-muted font-italic mb-1 ml-1">Card Information</span>
                </small>
                <div class="card-specific">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="newCardHolderFirstName"
                                       required
                                       name="cardHolderFirstName"
                                       style="text-transform: uppercase;"
                                       maxlength="45"
                                       data-error="First Name must me more than one character">
                                <label for="newCardHolderFirstName">First Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control"
                                       id="newCardHolderLastName"
                                       required
                                       name="cardHolderLastName"
                                       style="text-transform: uppercase;"
                                       maxlength="45"
                                       data-error="Last Name must me more than two characters">
                                <label for="newCardHolderLastName">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-9">
                            <div class="form-group md-form md-outline">
                                <label for="newCCN">Credit Card Number</label>
                                <input type="text" class="form-control" id="newCCN" name="ccn"
                                       required
                                       credit-provider=""
                                       data-error="Credit Card is not valid.">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control" id="newCVV" name="cvv"
                                       required
                                       maxlength="3"
                                       data-error="CVV is not valid.">
                                <label for="newCVV">CVV</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="newCCEXP">Credit Card Expiration Date</label>
                                <input type="month" class="form-control" id="newCCEXP" required
                                       name="ccexp">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <small>
                    <span class="text-muted font-italic mb-1 ml-1">Billing Address</span>
                </small>
                <div class="billing-address">
                    <form action="{{ url_for(request.endpoint) }}" id="dummyForm">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group md-form md-outline">
                                    <label for="newBillingStreetAddress">Street Address</label>
                                    <input type="text" class="form-control"
                                           id="newBillingStreetAddress"
                                           required
                                           name="billingStreetAddress"
                                           maxlength="45"
                                           data-error="Street Address cannot be empty">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group md-form md-outline">
                                    <label for="newBillingApartmentOrSuite">Apartment or Suite
                                        (Optional)</label>
                                    <input type="text" class="form-control valid"
                                           id="newBillingApartmentOrSuite" aria-invalid="false"
                                           maxlength="45"
                                           name="billingApartmentOrSuite"
                                           data-success="This field is optional">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group md-form md-outline">
                                    <label for="newBillingAddressZip">ZIP or Postal code</label>
                                    <input type="text" class="form-control"
                                           id="newBillingAddressZip"
                                           maxlength="10"
                                           required
                                           name="billingAddressZip">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <div class="form-group md-form md-outline">
                                    <label for="newBillingAddressCity">City</label>
                                    <input type="text" class="form-control"
                                           id="newBillingAddressCity"
                                           required
                                           maxlength="45"
                                           name="billingAddressCity">
                                </div>
                            </div>
                            <div class="form-group col-md-2" style="margin-top: 8px">
                                <label for="newBillingAddressState" class="d-none">State</label>
                                <select id="newBillingAddressState"
                                        class="form-control" required
                                        name="billingAddressState">
                                    <option value="" disabled selected>--</option>
                                    <option value="GA">GA</option>
                                    <option value="CA">CA</option>
                                </select>

                            </div>
                            <div class="form-group col-md-5" style="margin-top: 8px">
                                <label for="newBillingAddressCountry" class="d-none">Country</label>
                                <select id="newBillingAddressCountry"
                                        class="form-control"
                                        required
                                        name="billingAddressCountry">
                                    <option value="" disabled selected>--</option>
                                    <option value="United States">United States</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block card_footer %}
    <button type="button" id="contToReviewBtn" class="btn blue-gradient btn-lg btn-block waves-effect waves-ripple">
        Review Order
    </button>
{% endblock %}

{% block add_list_item %}
    <li class="list-group-item d-flex justify-content-between">
        <span class="complement">Shipping Cost</span>
        <strong class="text-danger">+ $<span class="sidebar-item-price pl-0"
                                             id="shippingTotal"></span></strong>
    </li>
    <li class="list-group-item d-flex justify-content-between" id="salesTaxListElement">
        <span class="complement">Sales Tax</span>
        <strong class="text-danger">+ $<span id="salesTax"></span></strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span class="complement-bold">GRAND TOTAL (USD)</span>
        <strong class="primary-md">$<span id="checkoutTotalPrice"></span></strong>
    </li>
{% endblock %}


{% block add_script %}
    <script src="/static/user/js/checkout/billingCheckout.js" type="module"></script>
{% endblock %}

