{% extends "base.html" %}
{% block base_title %}
    {% block title %}{% endblock %} Confirmation
{% endblock %}

{% block base_head %}
    {{ super() }}
    {% block head %}
        <style>
            @media (max-width: 768px) {
                #acctContainer {
                    display: table-cell;
                }

                #acctContainer > .card {
                    width: auto !important;
                    padding: 2px !important;
                    height: 300px !important;
                    margin-top: 5em !important;
                }
            }

            #acctContainer {
                width: 750px;
                max-width: 75%;
                margin-top: 5em;
                margin-bottom: 5em;
                min-height: 100%;
            }
        </style>
    {% endblock head %}
{% endblock base_head %}

{% set titleable = false %}

{% block main %}
    <div class="container" id="acctContainer">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title primary-md text-center">
                    {% block cardTitle %}
                    {% endblock %}
                </h5>
                <p class="card-text complement-light text-center my-3">
                    {% block content %}
                    {% endblock %}
                </p>
            </div>
            <div class="card-footer">
                <a href="/login/" class="btn blue-gradient btn-block">Sign in</a>
            </div>
        </div>
    </div>
{% endblock %}