{% extends "base.html" %}
{% block base_title %}Create Promotions Form{% endblock %}

{% block base_head %}
    {{ super() }}
{% endblock %}

{% block mainTitle %}
    <div class="text-left" id="welcome">
        <p class="primary-lg" id="account-holder">Create Promotions</p>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!--Grid column-->
            <div class="col mb-4">
                <!-- Card -->
                <div class="card gradient-card h-100">
                    <div class="card-image"
                         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <!-- Content -->
                        <div class="text-white mask card-contextual-info">

                            <div class="row">
                                <div class="col align-self-center">
                                    <div class="first-content p-3">
                                        <h3 class="card-title">Submit the Form</h3>
                                    </div>
                                </div>
                                <div class="col align-self-center">
                                    <div class="second-content pr-3" style="float: right;">
                                        <i class="fas fa-edit fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="card-body white">
                        <form id="promoForm" method="POST">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="promoName">Promo Name</label>
                                    <input type="text" class="form-control" id="promoName" name="promoName"
                                           placeholder="Promotion Name" required maxlength="50">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="promoCode">Promo Code</label>
                                    <input type="text" class="form-control" id="promoCode" name="promoCode"
                                           placeholder="Promotion Code" required maxlength="45">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="promoAmt">Promo Amount Percentage</label>
                                    <input type="number" class="form-control" id="promoAmt" name="promoAmt"
                                           placeholder="Promotion Amount" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="promoExpiry">Promo Expiration Date</label>
                                    <input type="date" class="form-control" id="promoExpiry" name="promoExpiry" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="promoNotes">Promotion Notes</label>
                                    <textarea class="form-control" id="promoNotes" name="promoNotes" rows="4"
                                              placeholder="Notes" maxlength="500"></textarea>
                                </div>
                            </div>
                            <button type="submit" id="updateBtn" class="btn blue-gradient btn-block">Create New
                                Promotion
                                Entry
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>

    <script type="module" src="/static/admin/js/forms/promo.js"></script>

{% endblock main %}