{% extends "base.html" %}
{% block base_title %}Add Books Form{% endblock %}

{% block base_head %}
    {{ super() }}
{% endblock %}

{% block mainTitle %}
    <div class="text-left" id="welcome">
        <p class="primary-lg" id="account-holder">Manage/Create Book Information.</p>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="input-group">
                <div class="col-sm-9">
                    <div class="md-form mt-0">
                        <input class="form-control" type="text" placeholder="Enter book ISBN or Title"
                               aria-label="Search">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group-append">
                        <button class="btn blue-gradient btn-block btn-md mr-3" id="searchBtn">Search</button>
                        <button class="btn btn-outline-warning btn-block btn-md waves-effect" id="editBtn">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-4">
                <div class="card gradient-card h-100">
                    <div class="card-image"
                         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                        <div class="text-white mask card-contextual-info">
                            <div class="row">
                                <div class="col align-self-center">
                                    <div class="first-content p-3">
                                        <h3 class="card-title">Submit the Form</h3>
                                    </div>
                                </div>
                                <div class="col align-self-center">
                                    <div class="second-content pr-3" style="float: right;">
                                        <i class="fas fa-edit fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="card-body white">
                        <form method="POST" id="manageBooksForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="bookTitle">Book Title</label>
                                    <input name="bookTitle" type="text" class="form-control" id="bookTitle"
                                           placeholder="Book Title" readonly
                                           required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="isbn">ISBN-13</label>
                                    <input name="isbn" type="text" class="form-control" id="isbn" readonly
                                           placeholder="ISBN-13"
                                           required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="authorFirstName">Author First Name</label>
                                    <input name="authorFirstName" type="text" class="form-control" readonly
                                           id="authorFirstName"
                                           placeholder="Author First Name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="authorLastName">Author Last Name</label>
                                    <input name="authorLastName" type="text" class="form-control" readonly
                                           id="authorLastName"
                                           placeholder="Author Last Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="edition">Edition</label>
                                    <input name="edition" type="text" class="form-control" id="edition" readonly
                                           placeholder="Book Edition">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="publisher">Publisher</label>
                                    <input name="publisher" type="text" class="form-control" id="publisher" readonly
                                           placeholder="Book Publisher">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="genre">Genre</label>
                                    <div class="input-group">
                                        <select name="genre" id="genre" class="form-control" disabled>
                                            <option selected>Choose...</option>
                                            <option>Mystery</option>
                                            <option>Horror</option>
                                            <option>Adventure</option>
                                            <option>Fantasy</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label for="numPages">Number of Pages</label>
                                    <input name="numPages" type="number" class="form-control" id="numPages"
                                           placeholder="Number of Pages" readonly>
                                </div>
                                <div class="form-group col">
                                    <label for="datePublished">Date Published</label>
                                    <input name="datePublished" type="date" class="form-control" id="datePublished"
                                           placeholder="Date Published" required readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="bindingType">Binding Type</label>
                                    <div class="input-group">
                                        <select name="bindingType" id="bindingType" class="form-control" disabled>
                                            <option selected>Paperback</option>
                                            <option>Hardback</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <label for="recvStock">Received Stock</label>
                                    <input name="recvStock" type="number" class="form-control" id="recvStock"
                                           placeholder="Received Stock" required readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="price">Selling Price ($)</label>
                                    <input name="price" step="0.01" type="number" class="form-control" id="price"
                                           placeholder="Selling Price in USD ($)" required readonly>
                                </div>
                                <div class="form-group col">
                                    <label for="coverID">Nile Image ID (Format: NILE_CI_*)</label>
                                    <input type="text" class="form-control" id="coverID"
                                           name="coverID" aria-describedby="coverID" pattern="NILE_CI_.*\d"
                                           style="text-transform:uppercase" placeholder="Enter Nile image ID" readonly>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="bookSummary">Book Summary</label>
                                    <div class="input-group blue-border-focus">
                                        <textarea name="bookSummary" class="form-control" id="bookSummary" rows="4"
                                                  placeholder="Book Summary" maxlength="500" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="updateBtn" class="btn blue-gradient btn-block">Create/Update Book
                                Entry
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" id="deleteBtn" class="btn btn-danger rounded btn-block mb-5">
                    Delete
                    Book
                </button>
            </div>
        </div>
    </div>
    <script type="module" src="/static/admin/forms/managebooksform.js"></script>
{% endblock main %}
