{% extends "base.html" %}
{% block base_title %}Add Books Form{% endblock %}

{% block base_head %}
    {{ super() }}
{% endblock %}

{% block mainTitle %}
    <div class="text-left" id="welcome">
        <p class="primary-lg" id="account-holder">Manage/Create Book Information.</p>
    </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="input-group">
                <div class="col-md-8">
                    <div class="md-form mt-0">
                        <input class="form-control" type="text" placeholder="Enter book ISBN or Title"
                               aria-label="Search">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group-append">
                        <button class="btn blue-gradient btn-block btn-md mr-3" id="searchBtn">Search</button>
                        <button class="btn btn-outline-warning btn-block btn-md waves-effect" id="editBtn">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col mb-4">
                <div class="card gradient-card h-100">
                    <div class="card-image">
                        <div class="text-white mask card-contextual-info">
                            <div class="row">
                                <div class="col align-self-center">
                                    <div class="first-content p-3">
                                        <h3 class="card-title">Submit the Form</h3>
                                    </div>
                                </div>
                                <div class="col align-self-center">
                                    <div class="second-content pr-3" style="float: right;">
                                        <i class="fas fa-edit fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="card-body white">
                        <div class="pre-form-space"></div>
                        <form method="POST" id="manageBooksForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="bookTitle">Book Title</label>
                                    <input name="bookTitle" type="text" class="form-control" id="bookTitle"
                                           placeholder="Book Title"
                                           required disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="isbn">ISBN-13</label>
                                    <input name="isbn" type="text" class="form-control" id="isbn"
                                           placeholder="ISBN-13"
                                           required disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="authorFirstName">Author First Name</label>
                                    <input name="authorFirstName" type="text" class="form-control"
                                           id="authorFirstName"
                                           placeholder="Author First Name" required disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="authorLastName">Author Last Name</label>
                                    <input name="authorLastName" type="text" class="form-control"
                                           id="authorLastName"
                                           placeholder="Author Last Name" required disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="edition">Edition</label>
                                    <input name="edition" type="text" class="form-control" id="edition"
                                           placeholder="Book Edition" disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="publisher">Publisher</label>
                                    <input name="publisher" type="text" class="form-control" id="publisher"
                                           placeholder="Book Publisher" required disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="genre">Genre</label>
                                    <div class="input-group">
                                        <select name="genre" id="genre" class="form-control" required disabled>
                                            <option value="" disabled selected>Choose...</option>
                                            <option value="Mystery">Mystery</option>
                                            <option value="Horror">Horror</option>
                                            <option value="Adventure">Adventure</option>
                                            <option value="Fantasy">Fantasy</option>
                                            <option value="Romance">Romance</option>
                                            <option value="Sci-Fi">Sci-Fi</option>
                                            <option value="Dystopian">Dystopian</option>
                                            <option value="Humor">Humor</option>
                                            <option value="Non-fiction">Non-fiction</option>
                                            <option value="Biography">Biography</option>
                                            <option value="Cartoon">Cartoon</option>
                                            <option value="Graphic Novel">Graphic Novel</option>
                                            <option value="Children">Children</option>
                                            <option value="Anthology">Anthology</option>
                                            <option value="Mystery">Mystery</option>
                                            <option value="Teen & Young Adult">Teen & Young Adult</option>
                                            <option value="Classics">Classics</option>
                                            <option value="Mystery">Fiction</option>
                                            <option value="Classic American">Classic American</option>
                                            <option value="International">International</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="numPages">Number of Pages</label>
                                    <input name="numPages" type="number" class="form-control" id="numPages"
                                           placeholder="Number of Pages" required disabled>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="datePublished">Date Published</label>
                                    <input name="datePublished" type="date" class="form-control" id="datePublished"
                                           placeholder="Date Published" required disabled>
                                </div>
                                <script>
                                    $(function () {
                                        let now = new Date();
                                        let minMonth = ("0" + (now.getMonth() + 1)).slice(-2);
                                        let minDate = ("0" + (now.getDate())).slice(-2);
                                        $("#datePublished").attr("max", `${now.getFullYear()}-${minMonth}-${minDate}`)
                                    });
                                </script>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="bindingType">Binding Type</label>
                                    <div class="input-group">
                                        <select name="bindingType" id="bindingType" class="form-control" required
                                                disabled>
                                            <option value="" disabled selected>Choose</option>
                                            <option value="Paperback">Paperback</option>
                                            <option value="Hardback">Hardback</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="productType">Product Type</label>
                                    <div class="input-group">
                                        <select name="productType" id="productType" class="form-control" required
                                                disabled>
                                            <option value="" disabled selected>Choose...</option>
                                            <option value="Textbook">Textbook</option>
                                            <option value="E-Book">E-Book</option>
                                            <option value="Audiobook">Audiobook</option>
                                            <option value="Novel">Novel</option>
                                            <option value="Graphic Novel">Graphic Novel</option>
                                            <option value="CD">CD</option>
                                            <option value="Cookbook">Cookbook</option>
                                            <option value="Guide/Informative">Guide/Informative</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="recvStock">Received Stock</label>
                                    <input name="recvStock" type="number" class="form-control" id="recvStock"
                                           placeholder="Received Stock" required disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="price">Selling Price ($)</label>
                                    <input name="price" step="0.01" type="number" class="form-control" id="price"
                                           placeholder="Selling Price in USD ($)" required disabled>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="coverID">Nile Image ID (Format: NILE_CI_*)</label>
                                    <input type="text" class="form-control" id="coverID"
                                           name="coverID" aria-describedby="coverID" pattern="NILE_CI_.*\d"
                                           style="text-transform:uppercase" placeholder="Enter Nile image ID" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="bookSummary">Book Summary</label>
                                    <div class="input-group blue-border-focus">
                                        <textarea name="bookSummary" class="form-control" id="bookSummary" rows="4"
                                                  placeholder="Book Summary" maxlength="2000" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="updateBtn" class="btn blue-gradient btn-block">Create/Update Book
                                Entry
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" id="deleteBtn" class="btn btn-danger rounded btn-block mb-5">
                    Delete
                    Book
                </button>
            </div>
        </div>
    </div>
    <script type="module" src="/static/admin/js/forms/managebooksform.js"></script>
{% endblock main %}
