.primary{
    font-family: 'Oswald';
}

.primary-md{
    font-family: 'Oswald';
    font-size: 2em;
}

.primary-lg{
    font-family: 'Oswald';
    font-size: 4em;
}

.complement {
    font-family: 'Open Sans';
    font-weight: bold;
}

.complement-light {
    font-family: 'Open Sans';
}

.our-color{
    background-color: #f2f2f2;
}

.card-contextual-info{
    background: linear-gradient(27deg, rgba(69, 165, 252, 0.9304096638655462) 0%, rgba(33, 33, 33, 0.8491771708683473) 100%);
}

.btn-rounded-complement{
    border-radius: 15px !important;
}