#signInBtn, #signUpBtn {
    font-size: medium;
}

#mainSearchSysBtn{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar{
    min-height: 100px;
}

.widget-header{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px;
}

.border {
    border: 1.5px solid #f2f2f2 !important;
}

.icon-sm{
    width: 48px;
    height: 48px;
    line-height: 48px !important;
}