{% extends "base.html" %}
{% block base_title %}About{% endblock %}

{% block base_head %}
    {{ super() }}
    <style>
        .hrst {
            margin-top: 50px;
            width: 50%;
            border-top: 1px solid #8c8b8b;
        }
    </style>
{% endblock %}

{% block mainTitle %}
    <div class="text-left" id="content-header">
        <p class="primary-lg" id="account-holder">Welcome to The Nile.</p>
    </div>
{% endblock %}
<!-- Page Content -->
{% block main %}
    <!-- Page Content -->
    <div class="container footer-sep" id="mainContent">
        <p class="text-left complement-light">
            Nile is an online Bookstore Platform. We have have books that all ages can enjoy!
            Come explore the variety of categories which include fictional adventures, informational columns,
            and children's stories that your little one can enjoy. Dive into our platform and see all that
            you can discover!
        </p>
        <hr class="hrst">
    </div>
{% endblock %}