{% extends "base.html" %}
{% block base_title %}Browse{% endblock %}

{% block base_head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/user/css/browse.css">
    <script src="/static/user/js/browse.js"></script>
{% endblock %}

{% with valid_login = get_flashed_messages() %}
    {% if valid_login %}
        <p class="flashes h5 text-center" style="color: red;">
            {% for msg in valid_login %}
                {{ msg }}
            {% endfor %}
        </p>
    {% endif %}
{% endwith %}

{% block mainTitle %}
    <div class="text-left" id="content-header">
        <p class="primary-lg" id="account-holder">Browse Our Selection.</p>
    </div>
{% endblock %}
<!-- Page Content -->
{% block main %}
    <div class="container">
        <div class="row">
            <aside class="col mb-4">
                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Product Type</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">
                                <form class="pb-3">
                                    <div class="input-group shadow">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn blue-gradient m-0 px-3 py-2 z-depth-0 waves-effect"
                                                    type="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="list-menu complement-light" style="list-style-type: none; padding: 0px">
                                    <ul>
                                        {% for type in product_types %}
                                            <li><a href="#">{{ type }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Genre's</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2">
                            <div class="card-body">
                                {% for genre in genres %}
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" checked="" class="custom-control-input">
                                        <div class="custom-control-label d-inline">{{ genre }}
                                            <b class="badge badge-pill badge-light float-right">120</b></div>
                                    </label>
                                {% endfor %}
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Price range</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3">
                            <div class="card-body">
                                <div class="pb-3">
                                    <div class="shadow" id="slider-range"></div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label>Min</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input class="form-control numbersOnly" type="number" pattern="[0-9]"
                                                   id="minRange">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="maxRange">Max</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input class="form-control numbersOnly" type="number" pattern="[0-9]"
                                                   id="maxRange">
                                        </div>
                                    </div>
                                </div> <!-- form-row.// -->
                                <button class="btn btn-block blue-gradient shadow">Apply</button>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <script>
                        let sr = $("#slider-range");

                        $(() => {
                            sr.slider({
                                range: true,
                                min: 0,
                                max: 100,
                                values: [0, 100],
                                step: 1,
                                animate: true,
                                slide: (event, ui) => {
                                    $("#minRange").val(ui.values[0]);
                                    $("#maxRange").val(ui.values[1]);
                                }
                            });
                            $("#minRange").attr("placeholder", sr.slider("values", 0));
                            $("#maxRange").attr("placeholder", sr.slider("values", 1));
                        });

                        $("#minRange")[0].addEventListener("input", evt => {
                            sr.slider("values", 0, evt.target.value);
                        });

                        $("#maxRange")[0].addEventListener("input", evt => {
                            sr.slider("values", 1, evt.target.value);
                        });

                    </script>
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Binding Type</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse in" id="collapse_4">
                            <div class="card-body">
                                {% for binding in bindings %}
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" checked="" class="custom-control-input">
                                        <div class="custom-control-label"> {{ binding }}
                                            <b class="badge badge-pill badge-light float-right">120</b></div>
                                    </label>                                    
                                {% endfor %}
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Condition</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse in" id="collapse_5">
                            <div class="card-body">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Any condition</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Brand new</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Used items</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Very old</div>
                                </label>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                </div> <!-- card.// -->
            </aside>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto mr-3" id="itemsFound">{{ books|length }} Items found</span>

                        <div class="row h-100 view-selection">
                            <div class="col view-selection-opt" style="align-self: center">
                                <select class="custom-select custom-select-lg our-color"
                                        style="border: 2px solid black;">
                                    <option>Latest items</option>
                                    <option>Most Popular</option>
                                    <option>Cheapest</option>
                                </select>
                            </div>
                            <div class="col view-selection-opt">
                                <div class="btn-group">
                                    <button class="btn btn-outline-dark btn waves-effect mr-3" data-toggle="tooltip"
                                            title=""
                                            data-original-title="List view">
                                        <i class="fa fa-bars"></i></button>
                                    <button class="btn btn-outline-dark waves-effect active" data-toggle="tooltip"
                                            title=""
                                            data-original-title="Grid view">
                                        <i class="fa fa-th"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row" id="table">
                    {% for book in books %}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <a href="{{ url_for('common_bp.product', title=book['title'],price=book['price'],author_name=book['author_name'],isbn=book['ISBN'],summary=book['summary'],publicationDate=book['publicationDate'],numPages=book['numPages'],binding=book['binding'],genre=book['genre'],nile_cover_ID=book['nile_cover_ID']) }}">
                                <div class="card h-100 rounded text-white modal-card waves-effect" id="hp"
                                     style="background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,37,41,1) 100%);">
                                    <img class="card-img-top"
                                         src="{{ '/static/images/CoverImages/' + book['nile_cover_ID'] + '.jpg' }}"
                                         alt="Cover Image of {{ book['title'] }}"
                                         width="250">
                                    <div class="card-body d-flex align-items-center">
                                        <div class="titleHolder align-self-middle">
                                            <h6 class="complement card-title">{{ book['title'] }}</h6>
                                        </div>
                                    </div>
                                    <div class="card-footer our-color text-white"
                                         style="background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(33,33,33,1) 100%);">
                                        <span class="primary-sm float-left">Price:</span>
                                        <span class="book-price primary-sm text-white float-right d-inline-flex"
                                              style="font-size: x-large">${{ book['price'] }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <nav id="bar" aria-label="Page navigation example"></nav>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var shownRows = 12;
            var rowsTotal = $("#table > div").length; // selects all div elements where parent is id = table
            var pageNumbers = rowsTotal / shownRows;

            var html = "<ul class='pagination justify-content-center'> <li class='page-item'> <a class='page-link' href='#'' aria-label='Previous'> <span aria-hidden='true'>&laquo;</span> <span class='sr-only'>Previous</span> </a> </li>";
            for (i = 0; i < pageNumbers; i++) {
                var paginationNum = i + 1; // 1 2 3 4 ... etc 
                html += "<li class='page-item'> <a class='page-link waves-effect waves-effect' href='#' rel='" + i + "'>" + paginationNum + "</a> </li>";
            }
            html += "<li class='page-item'> <a class='page-link' href='#'' aria-label='Next'> <span aria-hidden='true'>&raquo;</span> <span class='sr-only'>Next</span> </a> </li> </ul>";

            $("#bar").append(html);

            $("#table > div").hide();
            $("#table > div").slice(0, shownRows).show();

            $('#bar a:first').addClass('active'); // The current active page of books to be shown 
            $('#bar a').bind('click', function () { // Upon clicking change the active page of books to next
                $('#bar a').removeClass('active');
                $(this).addClass('active');
                var currentPage = $(this).attr('rel');
                var startItem = currentPage * shownRows;
                var endItem = startItem + shownRows;
                $('#table > div').css('opacity', '0.0').hide().slice(startItem, endItem).css('display', 'table-row').animate({opacity: 1}, 300);
            });
        });

        $(document).ready(function () {
            $("#searchButton").on("click", function () {
                // Retrieve the input field text
                var querry = $("#searchInput").val().toLowerCase();
                console.log(querry);

                // Loop through TITLE, AUTHOR, ISBN, GENRE
                $("#table > div").each(function () {
                    // If the list item does not contain the text phrase fade it out
                    if ($(this).text().search(new RegExp(querry, "gi")) < 0) {
                        $(this).fadeOut();
                        // Show the list item if the phrase matches
                    } else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
{% endblock %}

