{% extends "base.html" %}
{% block base_title %}Browse{% endblock %}

{% block base_head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/user/css/browse.css">
    <script src="/static/user/js/browse.js"></script>
{% endblock %}

{% with valid_login = get_flashed_messages() %}
    {% if valid_login %}
        <p class="flashes h5 text-center" style="color: red;">
            {% for msg in valid_login %}
                {{ msg }}
            {% endfor %}
        </p>
    {% endif %}
{% endwith %}

{% block mainTitle %}
    <div class="text-left" id="content-header">
        <p class="primary-lg" id="account-holder">Browse Our Selection.</p>
    </div>
{% endblock %}
<!-- Page Content -->
{% block main %}
    <div class="container">
        <div class="row">
            <aside class="col mb-4">
                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Product Type</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">
                                <form class="pb-3">
                                    <div class="input-group shadow">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn blue-gradient m-0 px-3 py-2 z-depth-0 waves-effect"
                                                    type="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div class="list-menu complement-light" style="list-style-type: none; padding: 0px">
                                    <ul>
                                        <li><a href="#">Textbook</a></li>
                                        <li><a href="#">Novel</a></li>
                                        <li><a href="#">E-book (Electronic)</a></li>
                                        <li><a href="#">Audio CD</a></li>
                                        <li><a href="#">Audiobook</a></li>
                                    </ul>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Genre's</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_2">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label d-inline">Mystery
                                        <b class="badge badge-pill badge-light float-right">120</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Horror
                                        <b class="badge badge-pill badge-light float-right">15</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Adventure
                                        <b class="badge badge-pill badge-light float-right">35</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Fantasy
                                        <b class="badge badge-pill badge-light float-right">89</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Romance
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Sci-Fi
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Dystopian
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Humor
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Non-Fiction
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Biography
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Cartoon
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Graphic Novels
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Children
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Anthology
                                        <b class="badge badge-pill badge-light float-right">30</b></div>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Price range</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_3">
                            <div class="card-body">
                                <div class="pb-3">
                                    <div class="shadow" id="slider-range"></div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label>Min</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input class="form-control numbersOnly" type="number" pattern="[0-9]"
                                                   id="minRange">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="maxRange">Max</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">$</div>
                                            </div>
                                            <input class="form-control numbersOnly" type="number" pattern="[0-9]"
                                                   id="maxRange">
                                        </div>
                                    </div>
                                </div> <!-- form-row.// -->
                                <button class="btn btn-block blue-gradient shadow">Apply</button>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <script>
                        let sr = $("#slider-range");

                        $(() => {
                            sr.slider({
                                range: true,
                                min: 0,
                                max: 100,
                                values: [0, 100],
                                step: 1,
                                animate: true,
                                slide: (event, ui) => {
                                    $("#minRange").val(ui.values[0]);
                                    $("#maxRange").val(ui.values[1]);
                                }
                            });
                            $("#minRange").attr("placeholder", sr.slider("values", 0));
                            $("#maxRange").attr("placeholder", sr.slider("values", 1));
                        });

                        $("#minRange")[0].addEventListener("input", evt => {
                            sr.slider("values", 0, evt.target.value);
                        });

                        $("#maxRange")[0].addEventListener("input", evt => {
                            sr.slider("values", 1, evt.target.value);
                        });

                    </script>
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Binding Type</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse in" id="collapse_4">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Hardcover
                                        <b class="badge badge-pill badge-light float-right">120</b></div>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input">
                                    <div class="custom-control-label">Paperback
                                        <b class="badge badge-pill badge-light float-right">15</b></div>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title complement">Condition</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse in" id="collapse_5">
                            <div class="card-body">
                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Any condition</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Brand new</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Used items</div>
                                </label>

                                <label class="custom-control custom-radio">
                                    <input type="radio" name="myfilter_radio" class="custom-control-input">
                                    <div class="custom-control-label">Very old</div>
                                </label>
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                </div> <!-- card.// -->
            </aside>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto mr-3" id="itemsFound">12 Items found</span>

                        <div class="row h-100 view-selection">
                            <div class="col view-selection-opt" style="align-self: center">
                                <select class="custom-select custom-select-lg our-color"
                                        style="border: 2px solid black;">
                                    <option>Latest items</option>
                                    <option>Most Popular</option>
                                    <option>Cheapest</option>
                                </select>
                            </div>
                            <div class="col view-selection-opt">
                                <div class="btn-group">
                                    <button class="btn btn-outline-dark btn waves-effect mr-3" data-toggle="tooltip"
                                            title=""
                                            data-original-title="List view">
                                        <i class="fa fa-bars"></i></button>
                                    <button class="btn btn-outline-dark waves-effect active" data-toggle="tooltip"
                                            title=""
                                            data-original-title="Grid view">
                                        <i class="fa fa-th"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="row">
                    {#                x#}
                    {% for book in books %}
                        <div class="col-lg-3 col-md-6 mb-4">
                            <a href="{{ url_for('common_bp.product', title=book['title'],price=book['price'],author_name=book['author_name'],isbn=book['ISBN'],summary=book['summary'],publicationDate=book['publicationDate'],numPages=book['numPages'],binding=book['binding'],genre=book['genre'],nile_cover_ID=book['nile_cover_ID']) }}">
                                <div class="card h-100 bg-dark text-white modal-card waves-effect" id="hp">
                                    <img class="card-img-top" src="{{'/static/images/CoverImages/' + book['nile_cover_ID'] + '.jpg' }}"
                                        alt=""
                                        width="250">
                                    <div class="card-body">
                                        <div class="titleHolder">
                                            <h6 class="card-title">{{ book['title'] }}</h6>
                                        </div>
                                        <div class="flex-fill">
                                            <p class="book-price">{{ book['price'] }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}