{% extends "base.html" %}
{% block base_title %}Forgot{% endblock %}

{% block base_head %}

    {{ super() }}

    <style>
        #acctContainer {
            width: 500px;
            max-width: 75%;
            margin-top: 100px;
            min-height: 100%;
        }
    </style>

{% endblock %}

{% block mainTitle %}
    <div class="text-center" id="content-header">
        <p class="primary-lg" id="account-holder">Dont Worry! We've got your Back.</p>
    </div>
{% endblock %}

{% block main %}
    <div class="container" id="acctContainer">
        <div class="rounded shadow-lg card p-5" id="acctCard">
            <div class="card-body">
                <header style="text-align: center;">
                    <h3 class="card-title mb-5 primary">Forgot Password</h3>
                </header>
                <form>
                    <div class="form-group md-form md-outline">
                        <label for="forgotEmailInput">Enter Email</label>
                        <input type="email" class="form-control" id="forgotEmailInput" name="forgotEmailInput" aria-describedby="emailHelp"
                               required >
                        <small id="emailHelp" class="form-text text-muted"><i>A confirmation email will be sent to
                            change
                            your password.</i>
                        </small>
                    </div>
                    <button type="submit" class="btn blue-gradient btn-lg btn-block">Submit</button>
                </form>

                <div class="text-center mb-2 mt-5">
                    <span class="txt1">
                        Don't Have an account?
                    </span>
                    <a href="/register/" class="txt2 hov1">
                        Create One.
                    </a>
                </div>
            </div>
        </div>
    </div>

    <button class="btn blue-gradient waves-light my-button" id="myBtn" title="Register"><i
            class="fas fa-angle-down fa-2x"></i></button>

    <script>
        $("#myBtn").click(function () {
            $(function () {
                var target = $('#acctContainer');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 120
                    }, 500);
                    return false;
                }
            });
        });
    </script>

{% endblock %}
