{% extends "base.html" %}
{% block base_title %}{{ request.args.get('title') }}{% endblock %}

{% block base_head %}
    {{ super() }}
    <style>
        @media (max-width: 991px) {
            .book-info {
                margin-top: 20px;
            }
        }

        .info-heading {
            font-weight: bold;
        }

        #author {
            font-size: medium;
            font-weight: bold
        }
    </style>
{% endblock %}

{% block mainTitle %}
    <div class="text-left" id="content-header">
        <p class="primary-lg" id="bookTitle">{{ request.args.get('title')|truncate(120, true) }}</p>
        <p class="complement" id="author">
            <span>Author:&nbsp&nbsp</span>{{ request.args.get('author_name') }}
        </p>
    </div>
{% endblock %}
{% block main %}

    <div class="container footer-sep">
        <div class="row">
            <div class="col-lg-3">
                <aside>
                    <img class="responsive w-100"
                         src="{{ '/static/images/CoverImages/' + request.args.get('nile_cover_ID') + '.jpg' }}" alt="">

                    <li class="list-group-item mt-3 w-100 bg-dark text-white rounded">

                        <div class="price-wrap primary-md" id="totalPriceWrapContainer">

                            <span class="primary-sm justify-content-center">Price (USD):</span>

                            <div class="quant-price ml-1 float-right d-inline-flex" id="totalPrice">$
                                <div id="bookPrice">{{ request.args.get('price') }}</div>
                            </div>
                        </div>
                    </li>

                    {% if not session['admin'] %}
                        
                        {% if request.args.get('isbn') not in session['shopping_cart'] %}
                            <div class="mt-3">
                                <button id="addToCartBtn" class="btn blue-gradient btn-block w-250">
                                    <span>Add To Cart</span>
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        {% else %}
                            <div class="mt-3">
                                <button id="addToCartBtn" class="btn-outline-success btn btn-block w-250">
                                    <span>Added to Cart</span>
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        {% endif %}
                        
                    {% endif %}

                </aside>
            </div>
            <div class="col-lg-9">
                <div class="card h-100 book-info rounded">

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title complement font-weight-bold mb-4">Book Information</h4>
                        <hr>

                        <span class="complement-light info-heading">Title:</span>
                        <p class="card-text" style="font-size: large">
                            {{ request.args.get('title') }}
                        </p>

                        <!-- Text -->
                        <span class="complement-light info-heading">Summary:</span>
                        <p class="card-text" style="font-size: large">
                            {{ request.args.get('summary') }}
                        </p>


                        <span class="complement-light info-heading">Author:</span>
                        <p class="card-text">
                            {{ request.args.get('author_name') }}
                        </p>

                        <span class="complement-light info-heading" id="bookISBN"
                              nile-isbn="{{ request.args.get('isbn') }}">ISBN-13:</span>
                        <p class="card-text">
                            {{ request.args.get('isbn') }}
                        </p>

                        <span class="complement-light info-heading">Publishing Date:</span>
                        <p class="card-text">
                            {{ request.args.get('publicationDate') }}
                        </p>

                        <span class="complement-light info-heading">Number of Pages:</span>
                        <p class="card-text">
                            {{ request.args.get('numPages') }}
                        </p>

                        <span class="complement-light info-heading">Binding Type:</span>
                        <p class="card-text">
                            {{ request.args.get('binding') }}
                        </p>

                        <span class="complement-light info-heading">Genre:</span>
                        <p class="card-text">
                            {{ request.args.get('genre') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="/static/user/js/addToCart.js"></script>
{% endblock %}