{% extends "base.html" %}
{% block base_title %}My Cart{% endblock %}

{% block base_head %}
{{ super() }}
<style>
    @media (max-width: 768px) {
        #cartPricingWrapper {
            padding-top: 20px;
        }
    }
</style>
<link rel="stylesheet" type="text/css" href="/static/user/css/cart.css">
{% endblock %}

{% block mainTitle %}
<div class="text-left" id="content-header">
    <p class="primary-lg" id="account-holder">My Shopping Cart.</p>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <main class="col-md-9">
            <div class="card" id="cartCard">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <!-- JINJA CODE HERE -->

                            {% for isbn, payload in book_payload.items() %}
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col col-sm-4">
                                            <div>
                                                <img src="{{ '/static/images/CoverImages/' + payload['nile_cover_id'] + '.jpg' }}"
                                                    width="95">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <a href="#" class="primary-sm text-dark">{{ payload['title'] }}</a>
                                            <p class="small text-muted">ISBN: {{ isbn }}, Author:
                                                {{ payload['author_name'] }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" nile-isbn="{{ isbn }}"
                                        buying-price="{{ payload['price'] }}">
                                        {% if payload['quantity'] == 1 %}
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        {% elif payload['quantity'] == 2 %}
                                            <option value="1">1</option>
                                            <option value="2" selected>2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        {% elif payload['quantity'] == 3 %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3" selected>3</option>
                                            <option value="4">4</option>
                                        {% else %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4" selected>4</option>
                                        {% endif %}
                                    </select>
                                </td>
                                <td class="price-data">
                                    <div class="price-wrap primary-sm">
                                        <div class="d-inline-flex">$
                                            <div class="quant-price ml-1" id="xcvt">{{ payload['price'] }}</div>
                                        </div>
                                    </div> <!-- price-wrap .// -->
                                    <p class="text-muted"><i>${{ payload['price'] }} each</i></p>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-danger btn-rounded-complement waves-effect remove-btn"
                                        nile-isbn="{{ isbn }}">
                                        Remove
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="card-body border-top">
                    <a href="/" class="waves-effect w-100 shadow">
                        <button class="btn btn-outline-primary btn-block w-100 waves-effect z-depth-0"
                            id="continueShoppingBtn">
                            <i class="fa fa-chevron-left"></i>
                            Continue Shopping
                        </button>
                    </a>
                </div>
            </div> <!-- card.// -->
            <div class="card mt-5 d-none" id="cartEmptyCard">
                <div class="card-body border-top primary-lg align-self-center">
                    <p>Your cart is empty</p>
                </div>
            </div>

        </main> <!-- col.// -->
        <aside class="col-md-3" id="cartPricingWrapper">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Cart Pricing</span>
            </h4>
            <li class="list-group-item justify-content-between shadow">
                <p class="primary-sm">Total (USD):</p>

                <div class="price-wrap primary-md" id="totalPriceWrapContainer">
                    <div class="d-inline-flex">$
                        <div class="quant-price ml-1" id="totalPrice">0.00</div>
                    </div>
                </div>
                <p class="text-muted"><i>Excludes Shipping, Tax, and Discounts</i></p>
            </li>
            <div class="w-100 pt-3">
                <a href="{{ url_for('user_bp.checkout' )}}" class="waves-effect w-100 shadow" id="checkoutBtn">
                    <button class="btn blue-gradient btn-block w-100">Checkout
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </a>
            </div>
        </aside> <!-- col.// -->
    </div>

</div> <!-- container .//  -->

    <script type="module" src="/static/user/js/shoppingcart.js"></script>
{% endblock %}