.modal-card {
    cursor: pointer;
}

.titleHolder {
    height: 50%;
}

.book-price {
    align-self: flex-end;
    color: #f2f2f2;
    font-size: large;
}

.input-group-text {
    width: 1px !important;
    justify-content: center;
}

.ui-slider-range {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important
}