.sidebar-item-price {
    padding-left: 1em;
}

.wow .md-form .form-control {
    margin-bottom: 0;
}

.wow .md-form.md-outline {
    margin-top: 0.5rem !important;
}

.card-specific, .billing-address {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px
}

.wow .md-form input:read-only, .wow select:disabled, .card-specific input:read-only {
    background-color: #e9e9e9 !important;
    color: #000000;
}

.wow .md-form input:read-only ~ label.active {
    background: transparent !important;
}

@media (max-width: 1900px) {
    .entry-seperation-border {
        border-top: 1px solid lightgray !important;
        margin-top: 1em !important;
        margin-bottom: 1em !important;
        width: calc(100% - 2em) !important;
        display: inline-block !important;
        border-radius: 5px;
    }
}

@media (min-width: 992px) {
    #page-wrap {
        position: relative;
    }
}

.promo-card .md-form.md-outline {
    margin-top: 0.2rem !important;
}

.promo-card .md-form {
    margin-bottom: 0.5rem !important;
}

.promo-card .md-form.md-outline label.active {
    background: #fff !important;
    z-index: 1;
}

.promo-card .md-form.md-outline #promoCodeInput {
    z-index: 0;
}