.sidebar-item-price {
    padding-left: 1em;
}

.md-form .form-control {
    margin-bottom: 0;
}

.md-form.md-outline {
    margin-top: 0.5rem !important;
}

.card-specific, .billing-address {
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px
}

.md-form input:read-only, select:disabled, .card-specific input:read-only {
    background-color: #e9e9e9 !important;
    color: #000000;
}

.md-form input:read-only ~ label.active {
    background: transparent !important;
}