#signInBtn, #signUpBtn, #footerMyProfile, #footerSignUpBtn {
    font-size: medium;
}

.main-search-sys-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar {
    min-height: 100px;
}

#searchFilter {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    padding-right: 18px !important;
}

#mainSearch {
    padding-left: 10px;
    border-bottom: 0 !important;
}


.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.widget-header .notify {
    position: absolute;
    top: -3px;
    right: -10px;
}

.border {
    border: 1.5px solid #f2f2f2 !important;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
}

@media (min-width: 1920px) {
    .container {
        max-width: 1580px;
    }
}

@media (max-width: 1199px) {

    #nileLogo {
        margin-bottom: 10px;
    }

    .search-group {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .user-centric-btn {
        margin-bottom: 20px;
    }

    .search-group-parent {
        justify-content: left;
        padding: 0;
    }

    .search-group-parent > .input-group {
        width: 100% !important;
    }

    .main-search-sys {
        width: auto !important;
    }
}