<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Promotion</title>
    {% include 'style.html' %}

    <link rel="stylesheet" type="text/css" href="../../../static/user/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../static/user/css/nav.css">
</head>

<body class="our-color">
{% include 'nav.html' %}
<div class="container">
    <div class="row mt-xl-5" id="cust-info">
        <div class="col mb-5">
            <div class="text-left" id="welcome">
                <p class="primary-lg" id="account-holder">Create a Promotion</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container footer-sep">
    <!--Grid row-->

    <div class="row">
        <!--Grid column-->
        <div class="col mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                    <!-- Content -->
                    <div class="text-white mask card-contextual-info">

                        <div class="row">
                            <div class="col align-self-center">
                                <div class="first-content p-3">
                                    <h3 class="card-title">Submit the Form</h3>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="second-content pr-3" style="float: right;">
                                    <i class="fas fa-edit fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="card-body white">
                    <form>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-signature"></i>
                                <label for="promoName">Promo Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="promoName" placeholder="Promotion Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-barcode"></i>
                                <label for="promoCode">Promo Code</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="promoCode"
                                           placeholder="Promotion Code">
                                </div>
                            </div>

                            <div class="form-group col">
                                <i class="fas fa-dollar-sign"></i>
                                <label for="promoAmt">Promo Amount Percentage</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="promoAmt"
                                           placeholder="Promotion Amount">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-pen-alt"></i>
                                <label for="exampleFormControlTextarea3">Promotion Notes</label>
                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="4"
                                          placeholder="Notes"></textarea>
                            </div>
                        </div>
                        <button type="submit" id="updateBtn" class="btn blue-gradient btn-block">Create New Promotion
                            Entry
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>
<footer class="py-5 bg-dark">
    <div class="container text-white">
        <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
        <div class="text-center">
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="waves-effect waves-light">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>