<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Platform</title>

    {% include 'common_links.html' %}

    <!--End MDN-->
</head>

<body class="our-color">
{% include 'nav.html' %}
<div class="container">
    <div class="row mt-xl-5" id="cust-info">
        <div class="col mb-5">
            <div class="text-left" id="welcome">
                <p class="primary-lg" id="account-holder">Welcome Back, <span
                        id="name">{{ session['firstName'] }}.</span><span
                        class="badge blue-gradient shadow ml-4">Admin</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container footer-sep">
    <!--Grid row-->

    <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                    <!-- Content -->
                    <div class="text-white d-flex h-100 mask card-contextual-info">
                        <div class="container-fluid give">
                            <div class="row py-3 pr-3">
                                <div class="col-10">
                                    <div class="first-content">
                                        <h3 class="card-title">Manage Books</h3>
                                        <p class="lead">Add and edit book information, or delete books</p>
                                    </div>
                                </div>
                                <div class="col-2 align-self-center">
                                    <div class="second-content" style="float: right;">
                                        <i class="fas fa-book fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Content -->
                <div class="card-body white">
                    <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                    <div class="row">
                        <div class="col">
                            <label for="manageBookBtn">Manage Books:</label>
                            <a href="/manage_books/" target="_blank">
                                <button id="manageBookBtn" class="btn blue-gradient btn-block">Manage Books</button>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <label for="addBookBtn">Add New Books:</label>
                            <a href="/add_books/" target="_blank">
                                <button id="addBookBtn" class="btn blue-gradient btn-block">Add Books</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                    <div class="text-white d-flex h-100 mask card-contextual-info">
                        <div class="container-fluid give">
                            <div class="row py-3 pr-3">
                                <div class="col-10">
                                    <div class="first-content">
                                        <h3 class="card-title">Manage Users</h3>
                                        <p class="lead">Add new client's (users) or promote or suspend existing ones</p>
                                    </div>
                                </div>
                                <div class="col-2 align-self-center">
                                    <div class="second-content" style="float: right;">
                                        <i class="fas fa-user-circle fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body white">
                    <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                    <div class="row">
                        <div class="col">
                            <label for="manageUserBtn">Manage Users:</label>
                            <a href="/manage_users/" target="_blank">
                                <button id="manageUserBtn" class="btn blue-gradient btn-block">Manage Users</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
                    <!-- Content -->
                    <div class="text-white d-flex h-100 mask card-contextual-info">
                        <div class="container-fluid">
                            <div class="row py-3 pr-3">
                                <div class="col-10">
                                    <div class="first-content">
                                        <h3 class="card-title">Manage Promotions</h3>
                                        <p class="lead mb-0">Create new promotions or delete existing ones</p>
                                    </div>
                                </div>
                                <div class="col-2 align-self-center">
                                    <div class="second-content" style="float: right;">
                                        <i class="far fa-money-bill-alt fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="card-body white animated">
                    <h4 class="text-uppercase font-weight-bold my-4">Details</h4>
                    <div class="row">
                        <div class="col">
                            <label for="managePromotionsBtn">Manage Promotions:</label>
                            <a href="/manage_promo/" target="_blank">
                                <button id="managePromotionsBtn" class="btn blue-gradient btn-block">Manage
                                    Promotion
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col">
                            <label for="addPromoBtn">Add Promotions:</label>
                            <a href="/add_promo/" target="_blank">
                                <button id="addPromoBtn" class="btn blue-gradient btn-block">Add Promotions</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
</div>
<footer class="py-5 bg-dark">
    <div class="container text-white">
        <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
        <div class="text-center">
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="waves-effect waves-light">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>
</body>

</html>