<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="4050 Software Engineering Project">
    <meta name="author" content="Manu Puduvalli | Vrund Parikh | Glen George | Lok Kwong | Samuel Yuen">

    <title>Nile - Bookstore - Browse Books</title>

    {% include 'style.html' %}

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.12.0/js/mdb.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/browse.css">
</head>

<body class="our-color">
    <div class="pb-5">
        <!-- Navigation -->
        {% include 'nav.html' %}
    </div>
    {% with valid_login = get_flashed_messages()%}
    {% if valid_login %}

    <p class="flashes h5 text-center" style="color: green;">
        {% for msg in valid_login %}
        {{ msg }}
        {% endfor %}
    </p>
    {% endif %}
    {% endwith %}
    <!-- <div class="container">
        <div class="row">
            <div class="col mb-4">
                <div class="text-left" id="content-header">
                    <p class="primary-lg" id="account-holder">Browse Our Books.</p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Page Content -->
    <div class="container pb-5" id="mainContent">
        <h1 class="title-page">
            <b>Welcome to The Nile!</b>
        </h1>
        <p class="text-center">
            Nile is an online Bookstore Platform. We have have books that all ages can enjoy!
            Come explore the variety of categories which include fictional adventures, informational columns,
            and children's stories that your little one can enjoy. Dive into our platform and see all that
            you can discover!
        </p>
        <div id="image-profile">
            
        </div>

    </div>


    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container text-white">
            <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
            <div class="text-center">
                <a class="waves-effect waves-light mr-3">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="waves-effect waves-light mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="waves-effect waves-light">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
        <!-- /.container -->
    </footer>
</body>

</html>