<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Billing Addresses</title>

    {% include 'style.html' %}


    <!--End MDN-->
    <style>
        .container .btn-rounded {
            border-radius: 15px !important;
        }

        .container .btn-outline-warning {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>
</head>

<body class="our-color">
{% include 'nav.html' %}
<div class="container">
    <div class="row mt-xl-5" id="cust-info">
        <div class="col mb-5">
            <div class="text-left" id="welcome">
                <p class="primary-lg" id="account-holder">Mange Your Billing Address's.</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container footer-sep">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                    <!-- Content -->
                    <div class="text-white mask card-contextual-info">
                        <div class="row">
                            <div class="col align-self-center">
                                <div class="first-content p-3">
                                    <h3 class="card-title">Address 1</h3>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="second-content pr-3" style="float: right;">
                                    <i class="far fa-address-card fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="card-body white">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <i class="fas fa-signature"></i>
                                <label for="address1FirstName">First Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="address1FirstName"
                                           placeholder="First Name"
                                           required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <i class="fas fa-signature"></i>
                                <label for="address1LastName">Last Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="address1LastName"
                                           placeholder="Last Name"
                                           required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-map-marker"></i>
                                <label for="address1StreetAddress">Street Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="address1StreetAddress"
                                           placeholder="Street Address" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-map-marker"></i>
                                <label for="address1ApartmentOrSuite">Apartment or Suite</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="address1ApartmentOrSuite"
                                           placeholder="Apartment or Suite">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-city"></i>
                                <label for="address1City">City</label>
                                <div class="input-group">
                                    <select id="address1City" class="form-control">
                                        <option selected>Atlanta</option>
                                        <option>Los Angeles</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col">
                                <i class="fas fa-city"></i>
                                <label for="address1State">State</label>
                                <div class="input-group">
                                    <select id="address1State" class="form-control">
                                        <option selected>Georgia</option>
                                        <option>California</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col">
                                <i class="fas fa-globe-americas"></i>
                                <label for="address1Country">Country</label>
                                <div class="input-group">
                                    <select id="address1Country" class="form-control">
                                        <option selected>United States</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-warning m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button" id="editAuthorFirstNameBtn">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-5">
                            <div class="col-9">
                                <button type="button" id="deleteBtn"
                                        class="btn blue-gradient btn-block">Save and Update
                                </button>
                            </div>
                            <div class="col-3">
                                <button type="button" id="deleteBtn"
                                        class="btn btn-outline-danger btn-block">Remove Address
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <div class="row">
        <!--Grid column-->
        <div class="col mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                    <!-- Content -->
                    <div class="text-white mask card-contextual-info">
                        <div class="row">
                            <div class="col align-self-center">
                                <div class="first-content p-3">
                                    <h3 class="card-title">Add Address</h3>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="second-content pr-3" style="float: right;">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="card-body white">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <i class="fas fa-signature"></i>
                                <label for="addAddressFirstName">First Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="addAddressFirstName"
                                           placeholder="First Name"
                                           required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <i class="fas fa-signature"></i>
                                <label for="addAddressLastName">Last Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="addAddressLastName"
                                           placeholder="Last Name"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-map-marker"></i>
                                <label for="addAddressStreetAddress">Street Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="addAddressStreetAddress"
                                           placeholder="Street Address" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-map-marker"></i>
                                <label for="addAddressApartmentOrSuite">Apartment or Suite</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="addAddressApartmentOrSuite"
                                           placeholder="Apartment or Suite">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <i class="fas fa-city"></i>
                                <label for="addAddressCity">City</label>
                                <div class="input-group">
                                    <select id="addAddressCity" class="form-control">
                                        <option selected>Atlanta</option>
                                        <option>Los Angeles</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col">
                                <i class="fas fa-city"></i>
                                <label for="addAddressState">State</label>
                                <div class="input-group">
                                    <select id="addAddressState" class="form-control">
                                        <option selected>Georgia</option>
                                        <option>California</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col">
                                <i class="fas fa-globe-americas"></i>
                                <label for="addAddressCountry">Country</label>
                                <div class="input-group">
                                    <select id="addAddressCountry" class="form-control">
                                        <option selected>United States</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="updateBtn" class="btn blue-gradient btn-block mt-5">Create New
                            Address
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</div>

<footer class="py-5 bg-dark">
    <div class="container text-white">
        <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
        <div class="text-center">
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="waves-effect waves-light">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>


</body>

</html>