<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="4050 Software Engineering Project">
    <meta name="author" content="Manu Puduvalli | Vrund Parikh | Glen George | Lok Kwong | Samuel Yuen">

    <title>Nile - Bookstore - Browse Books</title>

    {% include 'style.html' %}
    <link rel="stylesheet" type="text/css" href="../../../static/user/css/browse.css">
</head>

<body class="our-color">
<div class="pb-5">
    <!-- Navigation -->
    {% include 'nav.html' %}
</div>
{% with valid_login = get_flashed_messages() %}
    {% if valid_login %}

        <p class="flashes h5 text-center" style="color: green;">
            {% for msg in valid_login %}
                {{ msg }}
            {% endfor %}
        </p>
    {% endif %}
{% endwith %}
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <div class="text-left" id="content-header">
                <p class="primary-lg" id="account-holder">Browse Our Books.</p>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="container footer-sep" id="mainContent">
    <div class="row">
        <aside class="col mb-4">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title complement">Product Type</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1">
                        <div class="card-body">


                            <form class="pb-3">
                                <div class="input-group shadow">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn blue-gradient m-0 px-3 py-2 z-depth-0 waves-effect"
                                                type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>

                            <div class="list-menu complement-light" style="list-style-type: none; padding: 0px">
                                <li><a href="#">Textbook</a></li>
                                <li><a href="#">Novel</a></li>
                                <li><a href="#">E-book (Electronic)</a></li>
                                <li><a href="#">Audio CD</a></li>
                                <li><a href="#">Audiobook</a></li>
                            </div>


                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group  .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title complement">Genre's</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="card-body">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">Mystery
                                    <b class="badge badge-pill badge-light float-right">120</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Horror
                                    <b class="badge badge-pill badge-light float-right">15</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Adventure
                                    <b class="badge badge-pill badge-light float-right">35</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Fantasy
                                    <b class="badge badge-pill badge-light float-right">89</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Romance
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Sci-Fi
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Dystopian
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Humor
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Non-Fiction
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Biography
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Cartoon
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Graphic Novels
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Children
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Anthology
                                    <b class="badge badge-pill badge-light float-right">30</b></div>
                            </label>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title complement">Price range</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="card-body">
                            <div class="pb-3">
                                <div class="shadow" id="slider-range"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Min</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input class="form-control numbersOnly" type="number" pattern="[0-9]"
                                               id="minRange">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Max</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">$</div>
                                        </div>
                                        <input class="form-control numbersOnly" type="number" pattern="[0-9]"
                                               id="maxRange">
                                    </div>
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block blue-gradient shadow">Apply</button>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <script>
                    let sr = $("#slider-range");

                    $(() => {
                        sr.slider({
                            range: true,
                            min: 0,
                            max: 100,
                            values: [0, 100],
                            step: 1,
                            animate: true,
                            slide: (event, ui) => {
                                $("#minRange").val(ui.values[0]);
                                $("#maxRange").val(ui.values[1]);
                            }
                        });
                        $("#minRange").attr("placeholder", sr.slider("values", 0));
                        $("#maxRange").attr("placeholder", sr.slider("values", 1));
                    });

                    $("#minRange")[0].addEventListener("input", evt => {
                        sr.slider("values", 0, evt.target.value);
                    });

                    $("#maxRange")[0].addEventListener("input", evt => {
                        sr.slider("values", 1, evt.target.value);
                    });

                </script>
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title complement">Binding Type</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="card-body">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" checked="" class="custom-control-input">
                                <div class="custom-control-label">Hardcover
                                    <b class="badge badge-pill badge-light float-right">120</b></div>
                            </label>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <div class="custom-control-label">Paperback
                                    <b class="badge badge-pill badge-light float-right">15</b></div>
                            </label>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title complement">More filter</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse in" id="collapse_5">
                        <div class="card-body">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                <div class="custom-control-label">Any condition</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Brand new</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Used items</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Very old</div>
                            </label>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
            </div> <!-- card.// -->
        </aside>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                    <span class="mr-md-auto mr-3" id="itemsFound">12 Items found</span>

                    <div class="row h-100 view-selection">
                        <div class="col view-selection-opt" style="align-self: center">
                            <select class="custom-select custom-select-lg our-color" style="border: 2px solid black;">
                                <option>Latest items</option>
                                <option>Most Popular</option>
                                <option>Cheapest</option>
                            </select>
                        </div>
                        <div class="col view-selection-opt">
                            <div class="btn-group">
                                <button class="btn btn-outline-dark btn waves-effect mr-3" data-toggle="tooltip"
                                        title=""
                                        data-original-title="List view">
                                    <i class="fa fa-bars"></i></button>
                                <button class="btn btn-outline-dark waves-effect active" data-toggle="tooltip" title=""
                                        data-original-title="Grid view">
                                    <i class="fa fa-th"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s Stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/HP_Sourcerer.jpg" alt="" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Harry Potter and the Sorcercer's Stone</h6>
                            </div>
                            <div class="flex-fill">
                                <p class="book-price">$5.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('The BFG', 'The BFG is no ordinary bone-crunching giant. He is far too nice and jumbly. It\'s lucky for Sophie that he is. Had she been carried off in the middle of the night by the Bloodbottler, or any of the other giants—rather than the BFG—she would have soon become breakfast. When Sophie hears that the giants are flush-bunking off to England to swollomp a few nice little chiddlers, she decides she must stop them once and for all. And the BFG is going to help her!', 'Roald Dahl', '9780142410387', '8/16/2007', '224', 'Paperback', 'Childrens')">
                        <img class="card-img-top" src="../static/images/Books/TheBFG.jpg" alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">The BFG</h6>
                            </div>
                            <div class="flex-fill">
                                <p class="book-price">$9.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card" data-toggle="modal"
                         onclick="startModal('The Incredible Hulk', 'The All-New X-Men meet the Indestructible Hulk and the Superior Spider-Man! Doctor Octopus confronts the time-desplaced young X-Men, but how is he alive?! Ock\'s appearance gets the immediate attention of the Superior Spider-Man (who we all know is Doc Ock\'s mind in Spider-Man\'s body), and Bruce Banner helps Spidey and the young X-Men investigate the mysterious paradox - but before they learn the truth, they\'re shocked by the return of the believed-dead Abomination! Who is in league with these returned villains, and how can our heroes defeat them?', 'Marvel Comics', '0785184384', '1/21/2014', '96', 'Paperback', 'Graphic Novel')">
                        <img class="card-img-top" src="../static/images/Books/TheHulk.jpg" alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">The Hulk</h6>
                            </div>
                            <div>
                                <p class="book-price">$5.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/TheLightningThief.jpg" alt="Book Image"
                             width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Percy Jackson and the Lightning Thief</h6>
                            </div>
                            <div>
                                <p class="book-price">$9.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/tkmb.jpg" alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">To Kill a Mockingbird</h6>
                            </div>
                            <div>
                                <p class="book-price">$12.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/GordonRamsayHomeCooking.jpg"
                             alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Gordon Ramsay Home Cooking</h6>
                            </div>
                            <div>
                                <p class="book-price">$32.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/Narnia.jpg" alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Narnia</h6>
                            </div>
                            <div>
                                <p class="book-price">$10.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/SpiderMan.jpg" alt="Book Image"
                             width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Spider Man</h6>
                            </div>
                            <div>
                                <p class="book-price">$5.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/JavaForDummies.jpg" alt="Book Image"
                             width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Java For Dummies</h6>
                            </div>
                            <div>
                                <p class="book-price">$15.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/DiaryofAWimpyKid.jpg" alt="Book Image"
                             width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Diary of a Wimpy Kid</h6>
                            </div>
                            <div>
                                <p class="book-price">$9.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/TheHulk.jpg" alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">The Hulk</h6>
                            </div>
                            <div>
                                <p class="book-price">$5.99</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100 bg-dark text-white modal-card"
                         onclick="startModal('Harry Potter and the Sourcerer\'s stone', 'This marvelous book is about a young boy who finds a new journey through a magical world of adventure.', 'J.K.Rowling', '059035342X', '1/1/1999', '568', 'Paperback', 'Fantasy')">
                        <img class="card-img-top" src="../static/images/Books/KobeBryantMambaMentality.jpg"
                             alt="Book Image" width="250">
                        <div class="card-body">
                            <div class="titleHolder">
                                <h6 class="card-title">Kobe Bryant - Mamba Mentality</h6>
                            </div>
                            <div>
                                <p class="book-price">$8.24</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title primary-md" id="modalBookTitle">Harry Potter and the Sourcerer's Stone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Summary:</b><br>
                    <span id="modalSummary">This marvelous book is about a young boy who finds a new journey through
                    a magical world of adventure.</span></p>
                <p><b>Author: </b><span id="modalAuthor">J.K. Rowling</span></p>
                <p><b>ISBN-13: </b><span id="modalIsbn">059035342X</span></p>
                <p><b>Publishing Date: </b><span id="modalPublished">1/1/1999</span></p>
                <p><b>Number of Pages: </b><span id="modalNumberPages">568</span></p>
                <p><b>Binding Type: </b><span id="modalBindingType">Paperback</span></p>
                <p><b>Genre: </b><span id="modalGenre">Fantasy</span></p>
                <p><b>Reviews:</b></p>
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
            {% if not session['admin'] %}
                <div class="modal-footer">
                    <button type="button" class="btn blue-gradient btn-block add-to-cart">Add to Cart
                        <i class="fas fa-shopping-cart fa-1x"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container text-white">
        <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
        <div class="text-center">
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="waves-effect waves-light">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>
<script>
    function startModal(bookTitle, summary, author, isbn, publishingDate, numPages, bindingType, genre) {
        document.getElementById("modalBookTitle").innerText = bookTitle;
        document.getElementById("modalSummary").innerText = summary;
        document.getElementById("modalAuthor").innerText = author;
        document.getElementById("modalIsbn").innerText = isbn;
        document.getElementById("modalPublished").innerText = publishingDate;
        document.getElementById("modalNumberPages").innerText = numPages;
        document.getElementById("modalBindingType").innerText = bindingType;
        document.getElementById("modalGenre").innerText = genre;
        $('#myModal').modal('show');
    }

    /* FOR THE LOVE OF GOD - Please don't touch this I am working on it */
    $(".add-to-cart")[0].addEventListener("click", (e) => {
        let ct = $("#cartTotal");
        let total = parseInt(ct.text());
        console.log(total);
        ct.text(++total);

        let tar = $(e.target.id);
        console.log(tar);
        tar.text("Added to cart");
        tar.prop("disabled", true);

    });

</script>
</body>

</html>