<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Profile</title>

    {% include 'style.html' %}

    <style>
        .input-group .btn-outline-warning {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        input,
        select {
            height: 50px !important;
            border-radius: 0 !important;
        }

        @media (max-width: 991px) {
            #accountListings {
                margin-bottom: 20px;
            }
        }
    </style>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</head>

<body class="our-color">
    <script src="../../../static/user/js/profile.js"></script>
    {% include 'nav.html' %}
    <div class="container">
        <div class="row mt-xl-5" id="cust-info">

            <div class="col mb-5">
                <div class="text-left" id="welcome">
                    <p class="primary-lg" id="account-holder">Welcome Back, <span
                            id="name">{{ session['firstName'] }}.</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container footer-sep">
        <!--Grid row-->
        <div class="row">
            <aside class="col-md-3" id="accountListings">
                <ul class="list-group">
                    <a class="list-group-item active" id="accountOverview" href="#"> Account overview </a>
                    <a class="list-group-item" id="changeMyName" href="#"> Change my Name</a>
                    <a class="list-group-item" id="changeMyPass" href="#"> Change my Password </a>
                    <a class="list-group-item" id="orderHist" href="#">Order History </a>
                    <a class="list-group-item" id="manageAddress" href="#">Manage Shipping Address</a>
                    <a class="list-group-item" id="manageBilling" href="#">Manage Billing Address</a>
                    <a class="list-group-item" id="managePaymentInfo" href="#">Manage your Payment Information</a>
                    <a class="list-group-item" id="returnRefund" href="#"> Return and Refunds </a>
                </ul>
            </aside> <!-- col.// -->
            <main class="col-md-9 main-content" id="mainContent">
                <div class="content" id="accountOverviewTemplate">
                    {% include 'accountOverview.html' %}
                </div>
                <div class="card gradient-card d-none" id="changeNameTemplate">
                    {% include 'changeName.html' %}
                </div>
                <div class="card gradient-card d-none" id="changePasswordTemplate">
                    {% include 'changePassword.html' %}
                </div>
                <div class="d-none" id="orderHistTemplate">
                    {% include 'orderHistTemplate.html' %}
                </div>
                <div class="d-none" id="manageShippingAddressTemplate">
                    {% include 'manageShippingAddress.html' %}
                </div>
                <div class="d-none" id="manageBillingAddressTemplate">
                    {% include 'manageBillingAddress.html' %}
                </div>
                <div class="d-none" id="managePaymentInformationTemplate">
                    {% include 'managePaymentInformation.html' %}
                </div>
                
        </div>
        <div class="d-none" id="returnRefundTemplate">
            {% include 'returnRefund.html' %}
        </div>
        </main> <!-- col.// -->
    </div>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container text-white">
            <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
            <div class="text-center">
                <a class="waves-effect waves-light mr-3">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="waves-effect waves-light mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="waves-effect waves-light">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
        <!-- /.container -->
    </footer>


    <script>
        $(function () {
            $('#orderHistory').DataTable({});
        })
    </script>
</body>

</html>