<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="4050 Software Engineering Project">
    <meta name="author" content="Manu Puduvalli | Vrund Parikh | Glen George | Lok Kwong | Samuel Yuen">

    <title>Registration</title>

    {% include 'style.html' %}

    <style>

        @media (max-width: 768px) {
            #sep {
                display: table !important;
                width: 100% !important;
            }

            #acctContainer {
                display: table-cell;
                width: auto !important;
            }

            #acctContainer > #acctCard {
                width: auto !important;
                padding: 12px !important;
            }
        }

        .rounded {
            border-radius: 15px !important;
        }

        #acctContainer {
            width: 1000px;
            max-width: 75%;
            margin-top: 5em;
            margin-bottom: 5em;
            min-height: 100%;
        }

        input[type="checkbox"] {
            height: 20px;
            border-radius: 0 !important;
        }

        .hori-line {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid grey;
            line-height: 0.1em;
            margin: 30px 0 30px 0;
        }

        .hori-line span {
            background: #fff;
            padding: 0 10px;
        }

        .card-specific, .billing-address {
            border: solid 1px lightgray;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px
        }

        input, select {
            height: 45px !important;
            border-radius: 0 !important;
        }


    </style>
</head>

<body class="our-color complement-light">
<div class="pb-5">
    {% include 'nav.html' %}
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center" id="content-header">
                <p class="primary-lg" id="account-holder">Be Awesome. Become a Member!</p>
            </div>
        </div>
    </div>
</div>

<div id="sep" class="footer-sep">
    <div class="container" id="acctContainer">
        <div class="rounded shadow-lg card p-5" id="acctCard">
            <div class="card-body">
                <h4 class="card-title text-center primary-md pb-4">Registration</h4>
                {% with invalid_reg = get_flashed_messages() %}
                    {% if invalid_reg %}

                        <p class="flashes h5 text-center" style="color: red;">
                            {% for msg in invalid_reg %}
                                {{ msg }}
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endwith %}
                <form id="regForm" class="registration-form" method="POST">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-lg-6 col-md-12 mb-2">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" id="inputFirstName" class="form-control"
                                       placeholder="First Name" name="inputFirstName" required>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" id="inputLastName" class="form-control" placeholder="Last Name"
                                       name="inputLastName" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                               name="inputEmail" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                               name="inputPassword" required>
                    </div>

                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" id="inputConfirmPassword" class="form-control"
                               placeholder="Confirm Password" name="inputConfirmPassword" required>
                    </div>


                    <p class="hori-line">
                        <span class="text-muted font-weight-light font-italic">Optional Fields</span>
                    </p>


                    <div class="checkbox-holder mb-3">
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input" data-toggle="collapse"
                                   data-target="#addressInfo" id="addressToggler">
                            <label class="custom-control-label" for="addressToggler">Add Shipping Address</label>
                        </div>
                    </div>

                    <div class="checkbox-holder mb-4">
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input" data-toggle="collapse"
                                   data-target="#paymentInfo" id="paymentToggler">
                            <label class="custom-control-label" for="paymentToggler">Add Payment Method</label>
                        </div>
                    </div>


                    <div class="form-group mt-2 addr-opt">
                        <div id="addressInfo" class="collapse">
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-map-marker"></i>
                                    <label for="addAddressStreetAddress">Street Address</label>
                                    <input type="text" class="form-control" id="addAddressStreetAddress"
                                           placeholder="Street Address" name="addAddressStreetAddress">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-map-marker"></i>
                                    <label for="addAddressApartmentOrSuite">Apartment or Suite</label>
                                    <input type="text" class="form-control is-valid" id="addAddressApartmentOrSuite"
                                           placeholder="Apartment or Suite (optional)"
                                           name="addAddressApartmentOrSuite">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-map-marker"></i>
                                    <label for="addZipcode">Zipcode</label>
                                    <input type="text" class="form-control" id="addZipcode"
                                           placeholder="Zipcode" name="addZipcode">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-city"></i>
                                    <label for="addAddressCity">City</label>
                                    <select id="addAddressCity" class="form-control" name="addAddressCity">
                                        <option value="">---</option>
                                        <option value="Atlanta">Atlanta</option>
                                        <option value="Los Angeles">Los Angeles</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <i class="fas fa-city"></i>
                                    <label for="addAddressState">State</label>
                                    <select id="addAddressState" class="form-control" name="addAddressState">
                                        <option value="">---</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="California">California</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <i class="fas fa-globe-americas"></i>
                                    <label for="addAddressCountry">Country</label>
                                    <select id="addAddressCountry" class="form-control" name="addAddressCountry">
                                        <option value="">---</option>
                                        <option value="United States">United States</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group mt-2 payment-opt">
                        <div id="paymentInfo" class="collapse">
                            <small>
                                <p class="text-muted font-italic">Credit card information</p>
                            </small>
                            <div class="card-specific">
                                <div class="form-row">
                                    <div class="form-group col-lg-6 col-md-12">
                                        <i class="fas fa-signature"></i>
                                        <label for="cardHolderFirstName">Card Holder - First Name</label>
                                        <input type="text" class="form-control" id="cardHolderFirstName"
                                               placeholder="Card First Name" name="cardHolderFirstName">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12">
                                        <i class="fas fa-signature"></i>
                                        <label for="cardHolderLastName">Card Holder - Last Name</label>
                                        <input type="text" class="form-control" id="cardHolderLastName"
                                               placeholder="Card Last Name"
                                               name="cardHolderLastName">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-lg-10">
                                        <i class="fas fa-credit-card"></i>
                                        <label for="ccn">Credit Card Number</label>
                                        <div id="billingInputContainer">
                                            <input type="text" class="form-control" id="ccn"
                                                   placeholder="Credit Card Number" name="ccn">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <i class="fas fa-lock"></i>
                                        <label for="cvv">CVV</label>
                                        <input type="number" class="form-control" id="cvv"
                                               placeholder="CVV" name="cvv">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <i class="fas fa-calendar-alt"></i>
                                        <label for="ccexp">Credit Card Expiration Date</label>
                                        <input type="month" class="form-control" id="ccexp"
                                               placeholder="Credit Card Number" name="ccexp">
                                    </div>
                                </div>
                            </div>

                            <small>
                                <p class="text-muted font-italic">Billing Address</p>
                            </small>
                            <div class="billing-address">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <i class="fas fa-map-marker"></i>
                                        <label for="billingStreetAddress">Street Address</label>
                                        <input type="text" class="form-control" id="billingStreetAddress"
                                               placeholder="Street Address" name="billingStreetAddress">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <i class="fas fa-map-marker"></i>
                                        <label for="billingApartmentOrSuite">Apartment or Suite</label>
                                        <input type="text" class="form-control is-valid" id="billingApartmentOrSuite"
                                               placeholder="Apartment or Suite (optional)"
                                               name="billingApartmentOrSuite">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <i class="fas fa-map-marker"></i>
                                        <label for="billingZipcode">Zipcode</label>
                                        <input type="text" class="form-control" id="billingZipcode"
                                               placeholder="Zipcode" name="billingZipcode">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <i class="fas fa-city"></i>
                                        <label for="billingCity">City</label>
                                        <select id="billingCity" class="form-control" name="billingCity">
                                            <option value="">---</option>
                                            <option value="Atlanta">Atlanta</option>
                                            <option value="Los Angeles">Los Angeles</option>
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <i class="fas fa-city"></i>
                                        <label for="billingState">State</label>
                                        <select id="billingState" class="form-control" name="billingState">
                                            <option value="">---</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="California">California</option>
                                        </select>
                                    </div>
                                    <div class="form-group col">
                                        <i class="fas fa-globe-americas"></i>
                                        <label for="billingCountry">Country</label>
                                        <select id="billingCountry" class="form-control" name="billingCountry">
                                            <option value="">---</option>
                                            <option value="United States">United States</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-lg blue-gradient btn-block" id="registerBtn" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="py-5 bg-dark">
    <div class="container text-white">
        <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
        <div class="text-center">
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="waves-effect waves-light mr-3">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="waves-effect waves-light">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
    <!-- /.container -->
</footer>

<button class="btn blue-gradient waves-light my-button" title="Register"><i
        class="fas fa-angle-down fa-2x"></i></button>
<script>
    $(".my-button").click(function () {
        $(function () {
            let target = $('#acctContainer');
            if (target.length) {
                $('html, body').animate({
                    scrollTop: target.offset().top - 45
                }, 200);
                return false;
            }
        });
        $("#inputFirstName").focus();
    });
</script>
<script defer src="../../../static/user/js/regform.js" type="module"></script>
</body>
</html>