<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="4050 Software Engineering Project">
    <meta name="author" content="Manu Puduvalli | Vrund Parikh | Glen George | Lok Kwong | Samuel Yuen">

    <title>Registration</title>

    {% include 'style.html' %}

    <link rel="stylesheet" type="text/css" href="../../../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../../../static/styles/nav.css">
    <style>
        html,
        body {
            height: 100%;
            scroll-behavior: smooth;
        }

        .rounded {
            border-radius: 15px !important;
        }

        #acctContainer {
            width: 850px;
            max-width: 75%;
            margin-top: 5em;
            margin-bottom: 5em;
            /* margin-bottom: 100px; */
            min-height: 100%;
        }

        .form-group input,
        select {
            height: 50px;
            border-radius: 0px;
        }

        #myBtn {
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            cursor: pointer;
            text-align: center;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            padding: .25em;
            width: 80px;
            height: 80px;
        }
    </style>
</head>

<body class="our-color complement-light">
    <div class="pb-5">

        {% include 'nav.html' %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center" id="content-header">
                    <p class="primary-lg" id="account-holder">Be Awesome. Become a Member!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="acctContainer">
        <div class="rounded shadow-lg card p-5" id="acctCard">
            <div class="card-body">
                <h4 class="card-title text-center primary-md pb-4">Registration</h4>
                <form id="regForm" class="registration-form" method="POST">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputFirstname">First Name</label>
                                <input type="text" id="inputFirstname" class="form-control"
                                       placeholder="First Name" name="inputFirstname" required>
                            </div>
                            <div class="col">
                                <label for="inputLastname">Last Name</label>
                                <input type="text" id="inputLastname" class="form-control" placeholder="Last Name"
                                       name="inputLastname" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                               name="inputEmail" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                               name="inputPassword" required>
                    </div>

                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input type="password" id="inputConfirmPassword" class="form-control"
                               placeholder="Confirm Password" name="inputConfirmPassword" required>
                    </div>

                    <a data-toggle="collapse" data-target="#demo" href="" id="addressToggler">Add Address (Optional)</a>
                    <small class="text-muted"><i>You can always add it later</i></small>

                    <div class="form-group mt-2 addr-opt">
                        <div id="demo" class="collapse">
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-map-marker"></i>
                                    <label for="addAddressStreetAddress">Street Address</label>
                                    <input type="text" class="form-control" id="addAddressStreetAddress"
                                           placeholder="Street Address" name="addAddressStreetAddress">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-map-marker"></i>
                                    <label for="addAddressApartmentOrSuite">Apartment or Suite</label>
                                    <input type="text" class="form-control is-valid" id="addAddressApartmentOrSuite"
                                           placeholder="Apartment or Suite (optional)"
                                           name="addAddressApartmentOrSuite">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-map-marker"></i>
                                    <label for="addZipcode">Zipcode</label>
                                    <input type="text" class="form-control" id="addZipcode"
                                           placeholder="Zipcode" name="addZipcode">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <i class="fas fa-city"></i>
                                    <label for="addAddressCity">City</label>
                                    <select id="addAddressCity" class="form-control" name="addAddressCity">
                                        <option selected>Atlanta</option>
                                        <option>Los Angeles</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <i class="fas fa-city"></i>
                                    <label for="addAddressState">State</label>
                                    <select id="addAddressState" class="form-control" name="addAddressState">
                                        <option selected>Georgia</option>
                                        <option>California</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <i class="fas fa-globe-americas"></i>
                                    <label for="addAddressCountry">Country</label>
                                    <select id="addAddressCountry" class="form-control" name="addAddressCountry">
                                        <option selected>United States</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg blue-gradient btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="py-5 bg-dark">
        <div class="container text-white">
            <p class="mb-2 text-center">Copyright &copy; Nile 2020</p>
            <div class="text-center">
                <a class="waves-effect waves-light mr-3">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="waves-effect waves-light mr-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="waves-effect waves-light">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
        <!-- /.container -->
    </footer>

    <button class="btn blue-gradient waves-light" id="myBtn" title="Register"><i
            class="fas fa-angle-down fa-2x"></i></button>
    <script>
        $("#myBtn").click(function () {
            $(function () {
                let target = $('#acctContainer');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top - 45
                    }, 200);
                    return false;
                }
            });
        });
    </script>
    <script defer src="../../../static/user/js/formval.js"></script>
</body>
</html>