<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Confirmation</title>

    {% include 'style.html' %}

    <link rel="stylesheet" type="text/css" href="../../../static/styles/common.css">
    <link rel="stylesheet" type="text/css" href="../../../static/styles/nav.css">

    <style>
        #registrationCard {
            min-width: 500px;
            margin-top: 150px;
        }

        .logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>


<body class="our-color">
    <div class="pb-5">
        <!-- Navigation -->
        {% include 'nav.html' %}
        </nav>
    </div>
    <div class="row">
        <div class="col-5 mx-auto my-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title primary-md text-center">Thank you! You have successfully registered.</h5>
                    <p class="card-text complement-light">We will send you a verification link to your email to verify
                        that you're the owner of this email address.</p>
                    <a href="/login/" class="btn blue-gradient btn-block">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</body>