<!DOCTYPE html>
<html lang="en">
<head>
    {% block base_head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="4050 Software Engineering Project">
        <meta name="author" content="Manu Puduvalli | Samuel Yuen | Glen George | Lok Kwong | Vrund Parikh">
        <title>{% block base_title %}{% endblock %} - Nile</title>

        {% include 'common_links.html' %}
        <style>
            @media (max-width: 992px) {
                .footer-explanation {
                    border: none !important;
                    padding-right: 15px !important;
                }

                .reg-for-free {
                    padding-bottom: 20px;
                }

                .title-holder {
                    padding-right: 15px !important;
                }

                .left-border {
                    padding-left: 15px !important;
                }
            }


            footer .rel-links a:hover {
                background: linear-gradient(40deg, rgba(69, 202, 252, 0.9), rgba(48, 63, 159, 0.9)) !important;
                border: 1.5px solid;
                border-radius: 5px;
                -webkit-transition: all .01s ease;
            }

            footer .rel-links a {
                padding: 10px;
            }

            .right-border {
                padding-right: 55px;
            }

            .left-border {
                padding-left: 55px;
            }

            .main-footer-content {
                max-width: calc(100vw - 150px) !important;
            }
        </style>
    {% endblock %}
</head>
<body class="our-color">
<div class="pb-5">
    <!-- Navigation -->
    {% include 'nav.html' %}
</div>

{% set titleable = true %}

{% block show_title %}
    {% if titleable %}
        <div class="container">
            <div class="row">
                <div class="col mb-4">
                    {% block mainTitle %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock show_title %}

<!-- Page Content -->
<div class="footer-sep main-content-container" id="mainContent">
    {% block main %}
    {% endblock %}
</div>
<footer class="page-footer font-small bg-dark pt-4">
    <div class="container text-md-left main-footer-content">
        <div class="row">
            <div class="col-md-6 mx-auto pr-0">
                <div class="text-center right-border title-holder">
                    <h5 class="text-uppercase primary-md"
                        style="letter-spacing: 4px;"><a href="https://www.nilebookstore.com">Nile</a></h5>
                    <hr class="blue darken-3 accent-2 mt-0 d-inline-block text-left mx-auto mb-4" style="width: 100px;">
                </div>
                <div class="footer-explanation right-border" style="border-right: 1px solid lightgray; ">
                    <h5 class="text-center complement-roboto-bold">Thanks for visiting our site.</h5>
                    <p>
                        <strong>Disclaimer! This site is not real.</strong> It was made
                        to fulfill our term-project requirement for CSCI 4050 - Software Engineering class at The
                        University of Georgia.</p>
                    <p class="legal" style="font-size: smaller"><em>All book information including ISBN,
                        publisher, and cover images
                        was taken from
                        <a id="amazonLink" href="https://www.amazon.com" target="_blank">Amazon.com</a>. We claim no
                        ownership for any
                        information. All rights go to their respective owner(s). Any information
                        on nilebookstore.com inconsistent to its representation on Amazon is purely unintentional,
                        originating from programming errors or faults in retrieving information by our team.
                    </em>
                    </p>
                    <p class="text-center">Our talented team includes:<br></p>
                    <div class="text-center"><strong>Manu Puduvalli, Samuel Yuen, Vrund Parikh, Lok Kwong,
                        and
                        Glen George</strong>
                    </div>
                    <br>
                    <div id="applicationStackGroup" class="text-center">
                        <p>Our application stack includes:</p>
                        <ul class="list-unstyled d-inline-block text-left">
                            <li><i class="fab fa-bootstrap mr-2 mb-3 fa-lg"></i> Bootstrap Framework</li>
                            <li><i class="fab fa-mdb mr-2 mb-3 fa-lg"></i>MDBootstrap Framework</li>
                            <li><i class="fab fa-python mr-2 mb-3 fa-lg"></i>Flask + Python</li>
                            <li><i class="fas fa-database mr-2 mb-3 fa-lg"></i>MySQL</li>
                            <li><i class="fab fa-microsoft mr-2 mb-3 fa-lg"></i>TypeScript</li>
                            <li><i class="fab fa-js mr-2 mb-3 fa-lg"></i>Vanilla JavaScript/JQuery</li>
                            <li><i class="fas fa-running mr-2 mb-3 fa-lg"></i>Agile + Scrum</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-6 text-center mx-auto left-border">
                <div class="text-center">
                    <h5 class="text-uppercase primary-md font-weight-normal"
                        style="letter-spacing: 3px;">Relevant Links</h5>
                    <hr class="blue darken-3 accent-2 mt-0 d-inline-block text-left mx-auto mb-5" style="width: 100px;">
                </div>
                <div class="row" style="font-size: large">
                    <div class="col-md-6">
                        <ul class="list-unstyled text-center rel-links">
                            <li class="mb-5">
                                <strong><a href="https://github.com/ssyuen/nile" target="_blank">Nile Source
                                    Repository<i class="fab fa-github fa-lg ml-2"></i></a></strong>
                            </li>

                            <li class="mb-5">
                                <a href="https://github.com/ssyuen/" target="_blank">Samuel Yuen <i
                                        class="fab fa-github fa-lg ml-2"></i></a>
                            </li>

                            <li class="mb-5">
                                <a href="https://github.com/manu-p-1/" target="_blank">Manu Puduvalli <i
                                        class="fab fa-github fa-lg ml-2"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled text-center rel-links">
                            <li class="mb-5">
                                <a href="https://github.com/Lok-Kwong" target="_blank">Lok Kwong <i
                                        class="fab fa-github fa-lg ml-2"></i></a>
                            </li>

                            <li class="mb-5">
                                <a href="https://github.com/glengeorge98" target="_blank"> Glen George <i
                                        class="fab fa-github fa-lg ml-2"></i></a>
                            </li>

                            <li class="z">
                                <a href="https://github.com/vrund99" target="_blank">Vrund Parikh <i
                                        class="fab fa-github fa-lg ml-2"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none">
        </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center py-2">
        {% if not session['logged_in'] %}

            <li class="list-inline-item reg-for-free">
                <h5 class="mb-1 complement">Register for free</h5>
            </li>
            <li class="list-inline-item reg-for-free">
                <a href="/register/" class="href">
                    <button class="btn blue-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                            id="footerSignUpBtn">Sign Up
                    </button>
                </a>
            </li>


        {% else %}
            <li class="list-inline-item reg-for-free">
                <h5 class="mb-1 complement">View my Profile</h5>
            </li>
            <li class="list-inline-item reg-for-free">
                {% if not session['admin'] %}
                    <a href="/nileuser/overview/" class="href">
                {% else %}
                    <a href="/admin/overview/" class="href">
                {% endif %}
                <button class="btn blue-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                        id="footerMyProfile">My Profile
                </button>
                </a>
            </li>
        {% endif %}

        <li class="list-inline-item">
            <form class="form-inline complement" action="{{ url_for('books_bp.query_books') }}">
                <div class="container-fluid search-group-parent">
                    <div class="input-group">
                        <input id="searchFooter" class="form-control main-search-sys" type="text" placeholder="Search"
                               aria-label="Search"
                               style="width: 500px;"
                               name="search_query">
                        <div class="input-group-append">
                            <button id="searchFooterBtn"
                                    class="btn blue-gradient m-0 px-4 py-2 z-depth-0 waves-effect mr-3 main-search-sys-btn"
                                    type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.nilebookstore.com/">nilebookstore.com</a>
    </div>
</footer>
<style>
    #amazonLink:hover {
        color: #028df5;
    }
</style>
</body>
</html>