<!DOCTYPE html>
<html lang="en">
<head>
    {% block base_head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="4050 Software Engineering Project">
        <meta name="author" content="Manu Puduvalli | Samuel Yuen | Glen George | Lok Kwong | Vrund Parikh">
        <title>{% block base_title %}{% endblock %} - Nile</title>

        {% include 'common_links.html' %}
        <style>
            @media (max-width: 992px) {
                .footer-explanation {
                    border: none !important;
                    padding-right: 15px !important;
                }
            }
        </style>
    {% endblock %}
</head>
<body class="our-color">
<div class="pb-5">
    <!-- Navigation -->
    {% include 'nav.html' %}
</div>

{% set titleable = true %}

{% block show_title %}
    {% if titleable %}
        <div class="container">
            <div class="row">
                <div class="col mb-4">
                    {% block mainTitle %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock show_title %}

<!-- Page Content -->
<div class="footer-sep main-content-container" id="mainContent">
    {% block main %}
    {% endblock %}
</div>

<footer class="page-footer font-small bg-dark pt-4">
    <div class="container text-md-left">
        <div class="row">
            <div class="col-md-6 mx-auto pr-0">
                <div class="text-center">
                    <h5 class="text-uppercase primary-md font-weight-normal"
                        style="letter-spacing: 4px;">Nile</h5>
                    <hr class="deep-purple accent-2 mt-0 d-inline-block text-left mx-auto mb-5" style="width: 100px;">
                </div>
                <div class="footer-explanation" style="border-right: 1px solid lightgray; padding-right: 55px; ">
                    <p>Thanks for visiting our site. <strong>Disclaimer! This site is not real.</strong> It was made
                        to fulfil our term-project requirement for CSCI 4050 - Software Engineering class at The
                        University
                        of Georgia. Our talented team include:<br></p>
                    <div class="text-center"><strong>Manu Puduvalli, Sam Yuen, Vrund Parikh, Lok Kwong,
                        and
                        Glen George</strong>
                    </div>
                    <br>
                    <p>Our application stack includes:</p>
                    <ul>
                        <li>Bootstrap Framework</li>
                        <li>MDBootstrap Framework</li>
                        <li>Vanilla JavaScript/JQuery</li>
                        <li>MySQL</li>
                        <li>Flask + Python</li>
                        <li>TypeScript</li>
                    </ul>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-6 text-center mx-auto">
                <div class="text-center">
                    <h5 class="text-uppercase primary-md font-weight-normal"
                        style="letter-spacing: 3px;">Relevant Links</h5>
                    <hr class="deep-purple accent-2 mt-0 d-inline-block text-left mx-auto mb-5" style="width: 100px;">
                </div>
                <div class="row" style="font-size: large">
                    <div class="col-md-6">
                        <ul class="list-unstyled text-center rel-links">
                            <li class="mb-5">
                                <strong><a href="https://github.com/ssyuen/nile" target="_blank">Nile Source
                                    Repository</a></strong>
                            </li>

                            <li class="mb-5">
                                <a href="https://github.com/ssyuen/" target="_blank">Github: Samuel Yuen</a>
                            </li>

                            <li class="mb-5">
                                <a href="https://github.com/manu-p-1/" target="_blank">Github: Manu Puduvalli</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled text-center rel-links">
                            <li class="mb-5">
                                <a href="https://github.com/Lok-Kwong" target="_blank">Github: Lok Kwong</a>
                            </li>

                            <li class="mb-5">
                                <a href="https://github.com/glengeorge98" target="_blank">Github: Glen George</a>
                            </li>

                            <li class="z">
                                <a href="https://github.com/vrund99" target="_blank">Github: Vrund Parikh</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none">
        </div>
    </div>
    <hr>
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1 complement">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="/register/" class="href">
                <button class="btn aqua-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                        id="signUpBtn">Sign Up
                </button>
            </a>
        </li>
        <li class="list-inline-item">
            <form class="form-inline complement" action="{{ url_for('books_bp.query_books') }}">
                <div class="container-fluid search-group-parent">
                    <div class="input-group">
                        <input id="mainSearchSys" class="form-control" type="text" placeholder="Search"
                               aria-label="Search"
                               style="width: 500px;"
                               name="search_query">
                        <div class="input-group-append">
                            <button id="mainSearchSysBtn"
                                    class="btn blue-gradient btn-rounded m-0 px-4 py-2 z-depth-0 waves-effect mr-3"
                                    type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
    <hr>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="btn-floating btn-dribbble mx-1">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>
    </ul>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.nilebookstore.com/">nilebookstore.com</a>
    </div>
</footer>

</body>
</html>