{#<!-- These css and scripts are installed locally for performance -->#}


<link rel="preload" as="style" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="preload" as="style" href="../static/gfonts.css">
<link rel="preload" as="style" href="../static/gfontstwo.css">

<!-- For some reason, if you download this and use it, it doesn't like to render properly -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="../static/gfonts.css">
<link rel="stylesheet" href="../static/gfontstwo.css">


<link rel="preload" as="style" href="../static/mdb/css/bootstrap.min.css">
<link rel="preload" as="style" href="../static/mdb/css/mdb.min.css">

<link rel="stylesheet" href="../static/mdb/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/mdb/css/mdb.min.css">

<script src="../static/mdb/js/jquery.min.js"></script>
<script src="../static/mdb/js/popper.min.js"></script>
<script src="../static/mdb/js/bootstrap.min.js"></script>
<script src="../static/mdb/js/mdb.js"></script>


<link rel="preload" as="style" href="../static/user/css/common.css">
<link rel="preload" as="style" href="../static/user/css/nav.css">

<link rel="stylesheet" type="text/css" href="../static/user/css/common.css">
<link rel="stylesheet" type="text/css" href="../static/user/css/nav.css">

<link rel="preload" as="style" href="../static/mdb/css/jquery-ui.css">
<link rel="stylesheet" href="../static/mdb/css/jquery-ui.css">

<script src="../static/mdb/js/jquery-ui.js"></script>

<link rel="icon" href="../static/images/Misc/Icon/Nile River.png">
