<script>
    $(document).ready(function () {
        if (window.location.pathname === '/') {
            $("#browse").addClass('active');
            $("#about").removeClass('active');
        } else if (window.location.href.includes('/about/')) {
            $("#about").addClass('active');
            $("#browse").removeClass('active');
        }
    })
</script>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand primary waves-effect" href="/">
        <img src="/static/images/Misc/Nile Dark Bkgnd Rectangular.png" width="150"
             class="d-inline-block align top img-fluid"
             alt="Nile Logo" id="nileLogo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item complement browseOrActive" id="browse">
                <a class="nav-link" href="{{ url_for('common_bp.landing_page') }}">Browse
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item complement browseOrActive" id="about">
                <a class="nav-link" href="{{ url_for('common_bp.about') }}">About</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-center search-group">
            <li>
                <form class="form-inline complement" name="searchForm"id="searchBar" action="{{ url_for('books_bp.query_books') }}">
                    <div class="container-fluid search-group-parent">

                        <div class="input-group main-search-sys" style="width: 650px;">
                            <div class="input-group-prepend">
                                <label for="searchFilter" class="d-none"> </label>
                                <select class="dropdown custom-select our-color" name="searchFilter"
                                        style="width: 75px;" id="searchFilter">
                                    <option value="all" selected id="searchFilterAllOption">All</option>
                                    <option value="genre">Genre</option>
                                    <option value="binding">Binding</option>
                                    <option value="productType">Audiobook</option>
                                    <option value="productType">CD & E-Book</option>
                                    <option value="productType">Cookbook</option>
                                    <option value="productType">Graphic Novel</option>
                                    <option value="productType">Guide/Informative</option>
                                    <option value="productType">Novel</option>
                                    <option value="productType">Textbook</option>
                                </select>
                            </div>
                            <input id="mainSearch" class="form-control" type="text" placeholder="Search"
                                   aria-label="Search" name="search_query"
                                   aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-append">
                                <button id="mainSearchSysBtn"
                                        class="btn btn-md blue-gradient m-0 px-4 py-2 z-depth-0 waves-effect main-search-sys-btn"
                                        type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons user-centric-btn">
            {% if not session['admin'] %}
                <li class="nav-item align-self-center">
                    <div class="widget-header mr-3 mt-1">
                        <a href="{{ url_for('common_bp.shopping_cart') }}"
                           class="icon icon-sm rounded-circle border text-center">
                            <i class="fa fa-shopping-cart text-center fa-1x"></i>
                        </a>
                        <span class="badge badge-pill badge-danger notify"><span
                                id="cartTotal">{{ session['shopping_cart']|length }}</span></span>
                    </div>
                </li>
            {% endif %}

            {% if session['logged_in'] %}
                <li class="nav-item dropdown align-self-center">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                    <span class=" complement">Welcome, {{ session['firstName'] }} {% if session['admin'] %}<span
                            class="badge badge-primary ml-2">Admin</span>{% endif %}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        {% if not session['admin'] %}
                            <a class="dropdown-item" href="{{ url_for('user_bp.overview') }}">My Profile</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('admin_bp.overview') }}">My Admin Profile</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('common_bp.logout') }}">Sign Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('common_bp.login') }}" class="href">
                        <button class="btn blue-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                                id="signInBtn">Sign In
                        </button>
                    </a>
                </li>
            {% endif %}

            {% if not session['logged_in'] %}
                <li class="nav-item">
                    <a href="{{ url_for('common_bp.register') }}" class="href">
                        <button class="btn aqua-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                                id="signUpBtn">Sign Up
                        </button>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<script>

    $('#searchFilter').on("change", function (event) {
        let font = $(this).find(":selected").css("font");
        let opt = $(this).find(":selected").text();
        $(this).width(getTextWidth(opt, font))
    });

    function getTextWidth(text, font) {
        // re-use canvas object for better performance
        var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement("canvas"));
        var context = canvas.getContext("2d");
        context.font = font;
        var metrics = context.measureText(text);
        return metrics.width;
    }

</script>