<script>
    $(document).ready(function () {
        if (window.location.pathname === '/') {
            $("#browse").addClass('active');
            $("#about").removeClass('active');
        } else if (window.location.href.includes('/about/')) {
            $("#about").addClass('active');
            $("#browse").removeClass('active');
        }
    })
</script>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand primary waves-effect" href="/">
        <img src="/static/images/Misc/Nile Dark Bkgnd Rectangular.png" width="150" class="d-inline-block align top"
            alt="Nile Logo" id="nileLogo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item complement browseOrActive" id="browse">
                <a class="nav-link" href="{{ url_for('common_bp.landing_page') }}">Browse
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item complement browseOrActive" id="about">
                <a class="nav-link" href="{{ url_for('common_bp.about') }}">About</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-center search-group">
            <li>
                <form class="form-inline complement" name="searchForm"id="searchBar" action="{{ url_for('books_bp.query_books') }}">
                    <div class="container-fluid search-group-parent">

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label>
                                    <select class="dropdown custom-select our-color" id="searchFilter" name="searchFilter"
                                            style="width: 75px;" id="searchFilter">
                                        <option value="all" rel="75"selected>All</option>
                                        <option value="productType"rel="125">Audiobook</option>
                                        <option value="productType"rel="125">CD & E-Book</option>
                                        <option value="productType"rel="100">Cookbook</option>
                                        <option value="productType"rel="100">Graphic Novel</option>
                                        <option value="productType"rel="125">Guide/Informative</option>
                                        <option value="productType"rel="75">Novel</option>
                                        <option value="productType"rel="100">Textbook</option>
                                    </select>
                                </label>
                            </div>
                            <input id="mainSearch" class="form-control main-search-sys" type="text" placeholder="Search"
                                   aria-label="Search" style="width: 500px;" name="search_query"
                                   aria-describedby="inputGroup-sizing-default">
                            <div class="input-group-append">
                                <button id="mainSearchSysBtn"
                                        class="btn blue-gradient btn-rounded m-0 px-4 py-2 z-depth-0 waves-effect mr-3 main-search-sys-btn"
                                        type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons user-centric-btn">
            {% if not session['admin'] %}
            <li class="nav-item align-self-center">
                <div class="widget-header mr-3 mt-1">
                    <a href="{{ url_for('common_bp.shopping_cart') }}"
                        class="icon icon-sm rounded-circle border text-center">
                        <i class="fa fa-shopping-cart text-center fa-1x"></i>
                    </a>
                    <span class="badge badge-pill badge-danger notify"><span
                            id="cartTotal">{{ session['shopping_cart']|length }}</span></span>
                </div>
            </li>
            {% endif %}

            {% if session['logged_in'] %}
            <li class="nav-item dropdown align-self-center">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class=" complement">Welcome, {{ session['firstName'] }} {% if session['admin'] %}<span
                            class="badge badge-primary ml-2">Admin</span>{% endif %}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                    aria-labelledby="navbarDropdownMenuLink-333">
                    {% if not session['admin'] %}
                    <a class="dropdown-item" href="{{ url_for('user_bp.overview') }}">My Profile</a>
                    {% else %}
                    <a class="dropdown-item" href="{{ url_for('admin_bp.overview') }}">My Admin Profile</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('common_bp.logout') }}">Sign Out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ url_for('common_bp.login') }}" class="href">
                    <button class="btn blue-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                        id="signInBtn">Sign In
                    </button>
                </a>
            </li>
            {% endif %}

            {% if not session['logged_in'] %}
            <li class="nav-item">
                <a href="{{ url_for('common_bp.register') }}" class="href">
                    <button class="btn aqua-gradient btn-rounded btn-sm primary waves-effect waves-light sign-btn"
                        id="signUpBtn">Sign Up
                    </button>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<style>
    #searchFilter {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
    }

    #mainSearch {
        border-bottom-width: 0;
    }
</style>

<!-- <script defer src="/static/user/js/search.js"></script> -->