{#<!-- These styles and scripts are installed locally for performance -->#}

<!-- For some reason, if you download this and use it, it doesn't like to render properly -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="../static/gfonts.css">
<link rel="stylesheet" href="../static/gfontstwo.css">

<link rel="stylesheet" href="../static/mdb/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/mdb/css/mdb.min.css">

<script type="text/javascript" src="../static/mdb/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/mdb/js/popper.min.js"></script>
<script type="text/javascript" src="../static/mdb/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/mdb/js/mdb.min.js"></script>