{% extends "profile/profileBase.html" %}
{% block title %}My Order History{% endblock %}

{% block head %}
    {{ super() }}
    <style>

    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <!--Grid column-->
        <div class="col mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg)">
                    <!-- Content -->
                    <div class="text-white mask card-contextual-info">

                        <div class="row">
                            <div class="col align-self-center">
                                <div class="first-content p-3">
                                    <h3 class="card-title">Your Orders</h3>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="second-content pr-3" style="float: right;">
                                    <i class="fas fa-history fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="orderHistory" class="table table-dark table-striped table-bordered" cellspacing="0"
                   width="100%">
                <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Price</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author Name</th>
                    <th>Order Date</th>
                    <th>Re-Order</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                <tr>
                    <td>1</td>
                    <td>$8.99</td>
                    <td>9785123645213</td>
                    <td>Harry Potter and the Sourcerer's Stone</td>
                    <td>J.K. Rowling</td>
                    <td>04/02/2020</td>
                    <td class="centered-btn">
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <button
                                    class="btn blue-gradient btn-md" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><i class="fas fa-sync-alt fa-lg"></i></button>
                        </p>
                    </td>
                </tr>
                    <td class="c1">{{item[0]}}</td>
                    <td class="c2">{{item[1]}}</td>
                    <td class="c3">{{item[2]}}</td>
                    <td class="c4">{{item[3]}}</td>
                    <td class="c5">{{item[4] + " " + item[5]}}</td>
                    <td class="c6">{{item[6]}}</td>
                    <td class="c7 centered-btn"> <p data-placement="top" data-toggle="tooltip" title="Edit">
                        <button class="btn blue-gradient btn-md" data-title="Edit" data-toggle="modal"
                                data-target="#edit"><i class="fas fa-sync-alt fa-lg"></i></button> </p></td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
