{% extends "profile/profileBase.html" %}
{% block title %}Change Account Password{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .md-form .form-control {
            margin-bottom: 0;
        }

        .md-form.md-outline {
            margin-top: 0.5rem !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card-image"
         style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
        <!--Content-->
        <div class="text-white d-flex h-100 mask card-contextual-info">
            <div class="container-fluid give">
                <div class="row py-3 pr-3">
                    <div class="col-10">
                        <div class="first-content">
                            <h3 class="card-title">Security</h3>
                            <p class="lead mb-0">Manage your Password</p>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <div class="second-content" style="float: right;">
                            <i class="fas fa-shield-alt fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="card-body white">
        <h4 class="text-uppercase font-weight-bold my-4" id="nameDetails">Details</h4>
        <form id="changePassForm" class="profile-form" method="POST">
            <i class="fas fa-lock prefix"></i>
            <div class="form-row">
                <div class="col">
                    <div class="form-group md-form md-outline">
                        <label for="currentPassword">Current
                            Password</label>
                        <input type="password" id="currentPassword"
                               class="form-control validate"
                               name="currentPassword">
                    </div>
                </div>
            </div>
            <i class="fas fa-lock prefix"></i>
            <div class="form-row">
                <div class="col">
                    <div class="form-group md-form md-outline">
                        <label for="newPassword">New
                            Password</label>
                        <input type="password" id="newPassword" class="form-control validate"
                               name="newPassword">
                    </div>
                </div>
            </div>
            <i class="fas fa-lock prefix"></i>
            <div class="form-row">
                <div class="col">
                    <div class="form-group md-form md-outline">
                        <label for="confirmNewPassword">Confirm
                            Password</label>
                        <input type="password" id="confirmNewPassword"
                               class="form-control" name="confirmNewPassword">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <button type="submit" id="updatePasswordBtn" class="btn blue-gradient btn-block">Update</button>
                </div>
            </div>
        </form>
    </div>
    <script type="module" src="/static/user/js/profile/pass.js"></script>
{% endblock %}