{% extends "profile/profileBase.html" %}
{% block title %}My Order History{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/mdb/css/addons/datatables.min.css">
    <script type="text/javascript" src="/static/mdb/js/addons/datatables.min.js"></script>
    <style>
        .table-light, .table-light > td, .table-light > th {
            background-color: #e2e2e2;
        }

        #orderHistory .dtrg-group.dtrg-start {
            background-color: rgb(35, 35, 35);
        }

        .table-light td {
            color: black;
            font-weight: normal !important;
        }

        .table-light th {
            color: black !important;
            font-weight: bold !important;
        }

        #orderHistory .dtrg-group.dtrg-start td {
            color: white !important;
        }

        #orderHistory.table-bordered > tbody > tr > td {
            border: 1px solid #9a9a9a;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <!--Grid column-->
        <div class="col mb-4">
            <!-- Card -->
            <div class="card gradient-card h-100">
                <div class="card-image">
                    <!-- Content -->
                    <div class="text-white mask card-contextual-info">

                        <div class="row">
                            <div class="col align-self-center">
                                <div class="first-content p-3">
                                    <h3 class="card-title complement">Your Orders</h3>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <div class="second-content pr-3" style="float: right;">
                                    <i class="fas fa-history fa-3x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="orderHistory" class="table table-light table-responsive-md table-bordered cell-border"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Order No.</th>
                    <th>Price</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Author Name</th>
                    <th>Order Date</th>
                    <th>Re-Order</th>
                    <th>Order Totals</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr nile-shipping-total="{{ item[8] }}" nile-sales-tax-total="{{ item[9] }}"
                        nile-order-total="{{ item[10] }}">
                        <td class="c1">Order Confirmation #: <b>{{ item[0] }}</b></td>
                        <td class="c2">${{ item[1] }}</td>
                        <td class="c3 isbn">{{ item[2] }}</td>
                        <td class="c4">{{ item[3] }}</td>
                        <td class="c5">{{ item[4] }}</td>
                        <td class="c6">{{ item[5] + " " + item[6] }}</td>
                        <td class="c7">{{ item[7] }}</td>
                        <td class="c8 centered-btn">
                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                {% if item[2] not in session['shopping_cart'] %}
                                    <button class="btn blue-gradient btn-md reorderBtn">
                                        <i class="fas fa-sync-alt fa-lg"></i>
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-success btn-md reorderBtn">
                                        <i class="fas fa-sync-alt fa-lg"></i>
                                    </button>
                                {% endif %}
                            </p>
                        </td>
                        <td>Shipping Cost: <b class="ml-1">${{ item[9] }}</b><br>
                            Sales Tax: <b class="ml-1">${{ item[8] }}</b><br>
                            Grand Total: <b class="ml-1">${{ item[10] }}</b></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Price</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Author Name</th>
                    <th>Order Date</th>
                    <th>Re-Order</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="/static/mdb/js/addons/datatables.rowgroup.min.js"></script>
    <script type="module" src="/static/user/js/profile/orderHistory.js"></script>
{% endblock %}
