{% extends "profile/profileBase.html" %}
{% block title %}Manage Payment Methods{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .card-specific, .billing-address {
            border: solid 1px lightgray;
            border-radius: 10px;
            padding: 20px 20px 0 20px;
            margin-bottom: 20px
        }

        .md-form .form-control {
            margin-bottom: 0;
        }

        .md-form.md-outline {
            margin-top: 0.5rem !important;
        }

        @media (max-width: 480px) {
            .edit-btn {
                float: none !important;
                display: block !important;
                width: 100% !important;
                margin: 20px 0 20px 0 !important;
            }
        }

    </style>
    <script>
        function doSelect(id, state) {
            $(`#${id} > option`).each(function () {
                console.log($(this).val());
                if (this.value === state) { // EDITED THIS LINE
                    $(this).attr("selected", "selected");
                }
            });
        }
    </script>
{% endblock %}

{% block content %}


    {% for info in data %}
        <div class="card gradient-card mb-5">
            <div class="card-image">
                <div class="text-white mask card-contextual-info">
                    <div class="row">
                        <div class="col align-self-center">
                            <div class="first-content p-3">
                                <h4 class="card-title complement">{{ info['lastname'] }}
                                    - {{ info['cardType'] }} {{ info['cardNumber'] }}</h4>
                            </div>
                        </div>
                        <div class="col align-self-center ">
                            <div class="first-content p-3 float-right">
                                <button class="btn blue-gradient btn-circle btn-md"
                                        data-toggle="collapse"
                                        data-target="#target{{ info['cardNumber'] }}{{ info['billingAddressID'] }}"
                                        type="button"
                                        aria-controls="target{{ info['cardNumber'] }}{{ info['billingAddressID'] }}"
                                        aria-expanded="false"><i
                                        class="fas fa-angle-down fa-2x collapse-btn-ico"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="collapse" id="target{{ info['cardNumber'] }}{{ info['billingAddressID'] }}">
                <div class="card-body white">
                    <div class="d-inline-block w-100 pre-content">
                        <h4 class="text-uppercase font-weight-bold my-2 d-inline-block" id="nameDetails">Manage
                            my {{ info['cardType'] }}</h4>
                        <button id="editBtnForPM{{ loop.index }}"
                                class="btn nile-yellow-gradient btn-sm float-right my-2 align-content-center waves-effect edit-btn">
                            Edit
                        </button>
                    </div>
                    <form method="POST" nile-address-ident="{{ info['billingAddressID'] }}"
                          nile-form-ident="{{ loop.index }}"
                          nile-pm-ident="{{ info['pm_id'] }}"
                          action="/nileuser/payment_methods/">
                        <small>
                            <p class="text-muted font-italic">Card Information</p>
                        </small>
                        <div class="card-specific">
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group md-form md-outline">
                                        <input type="text" class="form-control targetName1"
                                               id="cardHolderFirstName{{ loop.index }}"
                                               required readonly
                                               value="{{ info['firstname'] }}"
                                               name="cardHolderFirstName"
                                               style="text-transform: uppercase;"
                                               maxlength="45"
                                               data-error="First Name must me more than one character">
                                        <label for="cardHolderFirstName{{ loop.index }}">First Name on Card</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group md-form md-outline">
                                        <input type="text" class="form-control targetName2"
                                               id="cardHolderLastName{{ loop.index }}"
                                               required readonly
                                               value="{{ info['lastname'] }}"
                                               name="cardHolderLastName"
                                               style="text-transform: uppercase;"
                                               maxlength="45"
                                               data-error="Last Name must me more than two characters">
                                        <label for="cardHolderLastName{{ loop.index }}">Last Name on Card</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="ccexp{{ loop.index }}">Credit Card Expiration Date</label>
                                        <input type="month" class="form-control targetCCEXP" id="ccexp{{ loop.index }}"
                                               required
                                               readonly
                                               name="ccexp" value="{{ info['expirationDate'] }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small>
                            <p class="text-muted font-italic">Billing Address</p>
                        </small>
                        <div class="billing-address">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label for="billingStreetAddress{{ loop.index }}">Street Address</label>
                                        <input type="text" class="form-control targetStreet1"
                                               id="billingStreetAddress{{ loop.index }}"
                                               required
                                               name="billingStreetAddress"
                                               maxlength="45"
                                               value="{{ info['street1'] }}" readonly
                                               data-error="Street Address cannot be empty">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label for="billingApartmentOrSuite{{ loop.index }}">Apartment or Suite
                                            (Optional)</label>
                                        <input type="text" class="form-control targetStreet2"
                                               id="billingApartmentOrSuite{{ loop.index }}"
                                               value="{{ info['street2'] }}" readonly
                                               maxlength="45"
                                               name="billingApartmentOrSuite" data-success="This field is optional">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group md-form md-outline">
                                        <label for="billlingAddressZip{{ loop.index }}">ZIP or Postal code</label>
                                        <input type="text" class="form-control targetZip"
                                               id="billlingAddressZip{{ loop.index }}"
                                               readonly
                                               maxlength="10"
                                               name="billingAddressZip" value="{{ info['zip'] }}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <div class="form-group md-form md-outline">
                                        <label for="billingAddressCity{{ loop.index }}">City</label>
                                        <input type="text" class="form-control targetCity"
                                               id="billingAddressCity{{ loop.index }}"
                                               required readonly
                                               maxlength="45"
                                               value="{{ info['city'] }}"
                                               name="billingAddressCity">
                                    </div>
                                </div>
                                <div class="form-group col-md-2" style="margin-top: 8px">
                                    <label for="billingAddressState{{ loop.index }}" class="d-none">State</label>
                                    <select id="billingAddressState{{ loop.index }}" class="form-control" required
                                            name="billingAddressState" disabled>
                                        <option value="GA">GA</option>
                                        <option value="CA">CA</option>
                                    </select>
                                    <script>
                                        doSelect(document.getElementById("billingAddressState{{ loop.index }}").id, "{{ info['state'] }}");
                                    </script>
                                </div>
                                <div class="form-group col-md-2" style="margin-top: 8px">
                                    <label for="billingAddressCountry{{ loop.index }}" class="d-none">Country</label>
                                    <select id="billingAddressCountry{{ loop.index }}" class="form-control" required
                                            name="billingAddressCountry" disabled>
                                        <option value="United States">United States</option>
                                    </select>
                                    <script>
                                        doSelect(document.getElementById("billingAddressCountry{{ loop.index }}").id, "{{ info['country'] }}");
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="form-row mt-3 w-100">
                            <div class="col-md-9 mb-2">
                                <button id="updatePaymentMethod{{ loop.index }}" type="submit"
                                        class="btn blue-gradient btn-block update-pm-btn">Save and Update
                                </button>
                            </div>
                            <div class="col-md-3 mb-2">
                                <button id="removePaymentMethod{{ loop.index }}" type="submit"
                                        class="btn nile-red-gradient btn-block remove-pm-btn">Remove Payment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}



    <!--CREATE FORM -->


    <div class="card gradient-card mb-5">
        <div class="card-image">
            <div class="text-white mask card-contextual-info">
                <div class="row">
                    <div class="col align-self-center">
                        <div class="first-content p-3">
                            <h3 class="card-title complement">Add Payment Method</h3>
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <div class="second-content pr-3" style="float: right;">
                            <i class="fas fa-dollar-sign fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="card-body white">
            <div class="info-message"></div>
            <form method="POST" action="/nileuser/payment_methods/" id="createPMForm">
                <small>
                    <p class="text-muted font-italic">Card Information</p>
                </small>
                <div class="card-specific">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control" id="createCardHolderFirstName" required
                                       name="cardHolderFirstName"
                                       style="text-transform: uppercase;"
                                       maxlength="45"
                                       data-error="First Name must me more than one character">
                                <label for="createCardHolderFirstName">First Name on Card</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control" id="createCardHolderLastName" required
                                       name="cardHolderLastName"
                                       style="text-transform: uppercase;"
                                       maxlength="45"
                                       data-error="Last Name must me more than two characters">
                                <label for="createCardHolderLastName">Last Name on Card</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-10">
                            <div class="form-group md-form md-outline">
                                <label for="createCCN">Credit Card Number</label>
                                <input type="text" class="form-control" id="createCCN" name="ccn" required
                                       credit-provider=""
                                       data-error="Credit Card is not valid.">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group md-form md-outline">
                                <input type="text" class="form-control" id="createCVV" name="cvv" required
                                       maxlength="3"
                                       data-error="CVV is not valid.">
                                <label for="createCVV">CVV</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="createCCEXP">Credit Card Expiration Date</label>
                                <input type="month" class="form-control" id="createCCEXP" required
                                       name="ccexp">
                            </div>
                        </div>
                    </div>
                </div>
                <small>
                    <p class="text-muted font-italic">Billing Address</p>
                </small>
                <div class="billing-address">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group md-form md-outline">
                                <label for="createBillingStreetAddress">Street Address</label>
                                <input type="text" class="form-control" id="createBillingStreetAddress" required
                                       name="billingStreetAddress"
                                       maxlength="45"
                                       data-error="Street Address cannot be empty">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group md-form md-outline">
                                <label for="createBillingApartmentOrSuite">Apartment or Suite (Optional)</label>
                                <input type="text" class="form-control valid"
                                       id="createBillingApartmentOrSuite" aria-invalid="false"
                                       maxlength="45"
                                       name="billingApartmentOrSuite" data-success="This field is optional">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group md-form md-outline">
                                <label for="createBillingAddressZip">ZIP or Postal code</label>
                                <input type="text" class="form-control" id="createBillingAddressZip" maxlength="10"
                                       name="billingAddressZip">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <div class="form-group md-form md-outline">
                                <label for="createBillingAddressCity">City</label>
                                <input type="text" class="form-control" id="createBillingAddressCity" required
                                       maxlength="45"
                                       name="billingAddressCity">
                            </div>
                        </div>
                        <div class="form-group col-md-2" style="margin-top: 8px">
                            <label for="createBillingAddressState" class="d-none">State</label>
                            <select id="createBillingAddressState"
                                    class="form-control" required
                                    name="billingAddressState">
                                <option value="" disabled selected>State</option>
                                <option value="GA">GA</option>
                                <option value="CA">CA</option>
                            </select>

                        </div>
                        <div class="form-group col-md-2" style="margin-top: 8px">
                            <label for="createBillingAddressCountry" class="d-none">Country</label>
                            <select id="createBillingAddressCountry"
                                    class="form-control"
                                    required
                                    name="billingAddressCountry">
                                <option value="" disabled selected>Country</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button id="createPaymentMethodBtn" type="submit"
                        class="btn blue-gradient btn-block mb-2 mt-3">Add Payment Method
                </button>
            </form>
        </div>
    </div>
    <script type="module" src="/static/user/js/profile/managePaymentMethod.js"></script>
{% endblock %}