{% extends "profile/profileBase.html" %}
{% block title %}Change Account Password{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .md-form .form-control {
            margin-bottom: 0;
        }

        .md-form.md-outline {
            margin-top: 0.5rem !important;
        }

        .form-group i.fas.fa-lock {
            position: absolute;
            right: 10px;
            bottom: 6.5px;
        }

        input[type="password"] {
            padding-right: 40px !important;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="card-image">
        <!--Content-->
        <div class="text-white d-flex h-100 mask card-contextual-info">
            <div class="container-fluid give">
                <div class="row py-3 pr-3">
                    <div class="col-10">
                        <div class="first-content">
                            <h3 class="card-title complement">Security</h3>
                        </div>
                    </div>
                    <div class="col-2 align-self-center">
                        <div class="second-content" style="float: right;">
                            <i class="fas fa-shield-alt fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <div class="card-body white">
        <h4 class="text-uppercase font-weight-bold my-2" id="nameDetails">Manage your Password</h4>
        {% with pw_change = get_flashed_messages(with_categories=true) %}
            {% if pw_change %}
                {% for category, msg in pw_change %}
                    {% if category == 'success' %}
                        <p class="flashes text-center complement-bold" style="color: rgb(37, 179, 132);">
                            {{ msg }}
                        </p>
                    {% elif category == 'err' %}
                        <p class="flashes text-center complement-bold" style="color: red;">
                            {{ msg }}
                        </p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form id="changePassForm" class="profile-form" method="POST">

            <div class="form-row">
                <div class="col">
                    <div class="form-group md-form md-outline">
                        <label for="currentPassword">Current
                            Password</label>
                        <input type="password" id="currentPassword"
                               class="form-control"
                               maxlength="50"
                               required
                               name="currentPassword">
                        <i class="fas fa-lock prefix"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group md-form md-outline">
                        <label for="newPassword">New
                            Password</label>
                        <input type="password" id="newPassword" class="form-control"
                               maxlength="50"
                               required
                               name="newPassword">
                        <i class="fas fa-lock prefix"></i>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group md-form md-outline">
                        <label for="confirmNewPassword">Confirm
                            Password</label>
                        <input type="password" id="confirmNewPassword"
                               maxlength="50"
                               required
                               class="form-control" name="confirmNewPassword">
                        <i class="fas fa-lock prefix"></i>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <button type="submit" id="updatePasswordBtn" class="btn blue-gradient btn-block">Update</button>
                </div>
            </div>
        </form>
    </div>
    <script type="module" src="/static/user/js/profile/pass.js"></script>
{% endblock %}