{% extends "profile/profileBase.html" %}
{% block title %}Change Profile Name{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .md-form .form-control {
            margin-bottom: 0;
        }

        .md-form.md-outline {
            margin-top: 0.5rem !important;
        }

        .md-form input:read-only {
            background: lightgray !important;
            opacity: 0.8 !important;
        }

        /* Extra Small Devices, Phones */
        @media (max-width: 480px) {
            #editBtn {
                float: none !important;
                display: block !important;
                width: 100% !important;
                margin: 20px 0 20px 0 !important;
            }
        }
    </style>
{% endblock %}

{% block content %}

    <div class="card-image">
        <!-- Content -->
        <a href="#">
            <div class="text-white d-flex h-100 mask card-contextual-info">
                <div class="container-fluid give">
                    <div class="row py-3 pr-3">
                        <div class="col-10">
                            <div class="first-content">
                                <h3 class="card-title complement">My Information</h3>
                            </div>
                        </div>
                        <div class="col-2 align-self-center">
                            <div class="second-content" style="float: right;">
                                <i class="fas fa-user-circle fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- Content -->
    <div class="card-body white change-my-name">
        <div class="d-inline-block w-100 ">
            <h4 class="text-uppercase font-weight-bold my-2 d-inline-block" id="nameDetails">Manage your Name</h4>
            <button class="btn nile-yellow-gradient btn-sm my-2 float-right align-content-center waves-effect"
                    id="editBtn">Edit
            </button>
        </div>
        <form id="changeNameForm" class="profile-form" method="POST">
            <i class="fas fa-user prefix"></i>
            <label for="inputFirstname">First Name</label>
            <div class="form-row mb-3">
                <div class="col">
                    <div class="form-group md-form md-outline mb-0" id="inputFirstnameGroup">
                        <input id="inputFirstname" type="text" class="form-control mt-0"
                               placeholder="First Name" readonly aria-readonly="true"
                               aria-label="First Name" name="inputFirstname"
                               maxlength="45"
                               value="{{ session['firstName'] }}">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <i class="fas fa-user prefix"></i>
                    <label for="inputLastname">Last Name</label>
                    <div class="form-group md-form md-outline mb-0" id="inputLastnameGroup">
                        <input id="inputLastname" type="text" class="form-control" placeholder="Last Name"
                               aria-label="Last Name" name="inputLastname"
                               maxlength="45"
                               value="{{ session['lastName'] }}" readonly aria-readonly="true">
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    {% with name_change = get_flashed_messages() %}
                        {% if name_change %}
                            <p class="flashes text-center" style="color: rgb(37, 179, 132);">
                                {% for msg in name_change %}
                                    {{ msg }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    {% endwith %}
                    <!--PLEASE FOR THE LOVE OF GOD CHANGE THIS MARGIN TOP VALUEs-->
                    <button class="btn blue-gradient btn-block" style="margin-top: 30px;" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
    <script type="module" src="/static/user/js/profile/name.js"></script>
{% endblock %}